In [1]:
import pandas as pd

#### 2004

In [2]:
glp_2004_01 = pd.read_csv("rsc/glp-2004-01.csv", sep=';')

In [3]:
glp_2004_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45925 entries, 0 to 45924
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     45925 non-null  object
 1   Estado - Sigla     45925 non-null  object
 2   Municipio          45925 non-null  object
 3   Revenda            45925 non-null  object
 4   CNPJ da Revenda    45925 non-null  object
 5   Nome da Rua        45925 non-null  object
 6   Numero Rua         45925 non-null  object
 7   Complemento        3004 non-null   object
 8   Bairro             45925 non-null  object
 9   Cep                45925 non-null  object
 10  Produto            45925 non-null  object
 11  Data da Coleta     45925 non-null  object
 12  Valor de Venda     45925 non-null  object
 13  Valor de Compra    14836 non-null  object
 14  Unidade de Medida  45925 non-null  object
 15  Bandeira           45925 non-null  object
dtypes: object(16)
memory usage: 5.6+ MB

In [4]:
glp_2004_01['Valor de Venda'] = glp_2004_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2004_01['Valor de Compra'] = glp_2004_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [5]:
glp_2004_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45925 entries, 0 to 45924
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     45925 non-null  object
 1   Estado - Sigla     45925 non-null  object
 2   Municipio          45925 non-null  object
 3   Revenda            45925 non-null  object
 4   CNPJ da Revenda    45925 non-null  object
 5   Nome da Rua        45925 non-null  object
 6   Numero Rua         45925 non-null  object
 7   Complemento        3004 non-null   object
 8   Bairro             45925 non-null  object
 9   Cep                45925 non-null  object
 10  Produto            45925 non-null  object
 11  Data da Coleta     45925 non-null  object
 12  Valor de Venda     45925 non-null  float64
 13  Valor de Compra    14836 non-null  float64
 14  Unidade de Medida  45925 non-null  object
 15  Bandeira           45925 non-null  object
dtypes: float64(2), object(14)
memory usage: 5.6+ MB

In [6]:
glp_2004_02 = pd.read_csv("rsc/glp-2004-02.csv", sep=';')

In [7]:
glp_2004_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151060 entries, 0 to 151059
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     151060 non-null  object
 1   Estado - Sigla     151060 non-null  object
 2   Municipio          151060 non-null  object
 3   Revenda            151060 non-null  object
 4   CNPJ da Revenda    151060 non-null  object
 5   Nome da Rua        151060 non-null  object
 6   Numero Rua         151060 non-null  object
 7   Complemento        10143 non-null   object
 8   Bairro             151060 non-null  object
 9   Cep                151060 non-null  object
 10  Produto            151060 non-null  object
 11  Data da Coleta     151060 non-null  object
 12  Valor de Venda     151060 non-null  object
 13  Valor de Compra    44756 non-null   object
 14  Unidade de Medida  151060 non-null  object
 15  Bandeira           151060 non-null  object
dtypes: object(16)
memory usage: 18.4+ MB

In [8]:
glp_2004_02['Valor de Venda'] = glp_2004_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2004_02['Valor de Compra'] = glp_2004_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [9]:
glp_2004_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151060 entries, 0 to 151059
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     151060 non-null  object
 1   Estado - Sigla     151060 non-null  object
 2   Municipio          151060 non-null  object
 3   Revenda            151060 non-null  object
 4   CNPJ da Revenda    151060 non-null  object
 5   Nome da Rua        151060 non-null  object
 6   Numero Rua         151060 non-null  object
 7   Complemento        10143 non-null   object
 8   Bairro             151060 non-null  object
 9   Cep                151060 non-null  object
 10  Produto            151060 non-null  object
 11  Data da Coleta     151060 non-null  object
 12  Valor de Venda     151060 non-null  float64
 13  Valor de Compra    44756 non-null   float64
 14  Unidade de Medida  151060 non-null  object
 15  Bandeira           151060 non-null  object
dtypes: float64(2), object(14)
memory usage: 18.4+ MB

#### 2005

In [10]:
glp_2005_01 = pd.read_csv("rsc/glp-2005-01.csv", sep=';')

In [11]:
glp_2005_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149034 entries, 0 to 149033
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     149034 non-null  object
 1   Estado - Sigla     149034 non-null  object
 2   Municipio          149034 non-null  object
 3   Revenda            149034 non-null  object
 4   CNPJ da Revenda    149034 non-null  object
 5   Nome da Rua        149034 non-null  object
 6   Numero Rua         149034 non-null  object
 7   Complemento        10215 non-null   object
 8   Bairro             149034 non-null  object
 9   Cep                149034 non-null  object
 10  Produto            149034 non-null  object
 11  Data da Coleta     149034 non-null  object
 12  Valor de Venda     149034 non-null  object
 13  Valor de Compra    41748 non-null   object
 14  Unidade de Medida  149034 non-null  object
 15  Bandeira           149034 non-null  object
dtypes: object(16)
memory usage: 18.2+ MB

In [12]:
glp_2005_01['Valor de Venda'] = glp_2005_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2005_01['Valor de Compra'] = glp_2005_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [13]:
glp_2005_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149034 entries, 0 to 149033
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     149034 non-null  object
 1   Estado - Sigla     149034 non-null  object
 2   Municipio          149034 non-null  object
 3   Revenda            149034 non-null  object
 4   CNPJ da Revenda    149034 non-null  object
 5   Nome da Rua        149034 non-null  object
 6   Numero Rua         149034 non-null  object
 7   Complemento        10215 non-null   object
 8   Bairro             149034 non-null  object
 9   Cep                149034 non-null  object
 10  Produto            149034 non-null  object
 11  Data da Coleta     149034 non-null  object
 12  Valor de Venda     149034 non-null  float64
 13  Valor de Compra    41748 non-null   float64
 14  Unidade de Medida  149034 non-null  object
 15  Bandeira           149034 non-null  object
dtypes: float64(2), object(14)
memory usage: 18.2+ MB

In [14]:
glp_2005_02 = pd.read_csv("rsc/glp-2005-02.csv", sep=';')

In [15]:
glp_2005_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117320 entries, 0 to 117319
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     117320 non-null  object
 1   Estado - Sigla     117320 non-null  object
 2   Municipio          117320 non-null  object
 3   Revenda            117320 non-null  object
 4   CNPJ da Revenda    117320 non-null  object
 5   Nome da Rua        117320 non-null  object
 6   Numero Rua         117320 non-null  object
 7   Complemento        9954 non-null    object
 8   Bairro             117268 non-null  object
 9   Cep                117320 non-null  object
 10  Produto            117320 non-null  object
 11  Data da Coleta     117320 non-null  object
 12  Valor de Venda     117320 non-null  object
 13  Valor de Compra    28343 non-null   object
 14  Unidade de Medida  117320 non-null  object
 15  Bandeira           117320 non-null  object
dtypes: object(16)
memory usage: 14.3+ MB

In [16]:
glp_2005_02['Valor de Venda'] = glp_2005_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2005_02['Valor de Compra'] = glp_2005_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [17]:
glp_2005_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117320 entries, 0 to 117319
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     117320 non-null  object
 1   Estado - Sigla     117320 non-null  object
 2   Municipio          117320 non-null  object
 3   Revenda            117320 non-null  object
 4   CNPJ da Revenda    117320 non-null  object
 5   Nome da Rua        117320 non-null  object
 6   Numero Rua         117320 non-null  object
 7   Complemento        9954 non-null    object
 8   Bairro             117268 non-null  object
 9   Cep                117320 non-null  object
 10  Produto            117320 non-null  object
 11  Data da Coleta     117320 non-null  object
 12  Valor de Venda     117320 non-null  float64
 13  Valor de Compra    28343 non-null   float64
 14  Unidade de Medida  117320 non-null  object
 15  Bandeira           117320 non-null  object
dtypes: float64(2), object(14)
memory usage: 14.3+ MB

#### 2006

In [18]:
glp_2006_01 = pd.read_csv("rsc/glp-2006-01.csv", sep=';')

In [19]:
glp_2006_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193911 entries, 0 to 193910
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     193911 non-null  object
 1   Estado - Sigla     193911 non-null  object
 2   Municipio          193911 non-null  object
 3   Revenda            193911 non-null  object
 4   CNPJ da Revenda    193911 non-null  object
 5   Nome da Rua        193911 non-null  object
 6   Numero Rua         193911 non-null  object
 7   Complemento        19496 non-null   object
 8   Bairro             193739 non-null  object
 9   Cep                193911 non-null  object
 10  Produto            193911 non-null  object
 11  Data da Coleta     193911 non-null  object
 12  Valor de Venda     193911 non-null  object
 13  Valor de Compra    51899 non-null   object
 14  Unidade de Medida  193911 non-null  object
 15  Bandeira           193911 non-null  object
dtypes: object(16)
memory usage: 23.7+ MB

In [20]:
glp_2006_01['Valor de Venda'] = glp_2006_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2006_01['Valor de Compra'] = glp_2006_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [21]:
glp_2006_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193911 entries, 0 to 193910
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     193911 non-null  object
 1   Estado - Sigla     193911 non-null  object
 2   Municipio          193911 non-null  object
 3   Revenda            193911 non-null  object
 4   CNPJ da Revenda    193911 non-null  object
 5   Nome da Rua        193911 non-null  object
 6   Numero Rua         193911 non-null  object
 7   Complemento        19496 non-null   object
 8   Bairro             193739 non-null  object
 9   Cep                193911 non-null  object
 10  Produto            193911 non-null  object
 11  Data da Coleta     193911 non-null  object
 12  Valor de Venda     193911 non-null  float64
 13  Valor de Compra    51899 non-null   float64
 14  Unidade de Medida  193911 non-null  object
 15  Bandeira           193911 non-null  object
dtypes: float64(2), object(14)
memory usage: 23.7+ MB

In [22]:
glp_2006_02 = pd.read_csv("rsc/glp-2006-02.csv", sep=';')

In [23]:
glp_2006_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179962 entries, 0 to 179961
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     179962 non-null  object
 1   Estado - Sigla     179962 non-null  object
 2   Municipio          179962 non-null  object
 3   Revenda            179962 non-null  object
 4   CNPJ da Revenda    179962 non-null  object
 5   Nome da Rua        179962 non-null  object
 6   Numero Rua         179962 non-null  object
 7   Complemento        19666 non-null   object
 8   Bairro             179808 non-null  object
 9   Cep                179962 non-null  object
 10  Produto            179962 non-null  object
 11  Data da Coleta     179962 non-null  object
 12  Valor de Venda     179962 non-null  object
 13  Valor de Compra    58419 non-null   object
 14  Unidade de Medida  179962 non-null  object
 15  Bandeira           179962 non-null  object
dtypes: object(16)
memory usage: 22.0+ MB

In [24]:
glp_2006_02['Valor de Venda'] = glp_2006_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2006_02['Valor de Compra'] = glp_2006_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [25]:
glp_2006_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179962 entries, 0 to 179961
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     179962 non-null  object
 1   Estado - Sigla     179962 non-null  object
 2   Municipio          179962 non-null  object
 3   Revenda            179962 non-null  object
 4   CNPJ da Revenda    179962 non-null  object
 5   Nome da Rua        179962 non-null  object
 6   Numero Rua         179962 non-null  object
 7   Complemento        19666 non-null   object
 8   Bairro             179808 non-null  object
 9   Cep                179962 non-null  object
 10  Produto            179962 non-null  object
 11  Data da Coleta     179962 non-null  object
 12  Valor de Venda     179962 non-null  float64
 13  Valor de Compra    58419 non-null   float64
 14  Unidade de Medida  179962 non-null  object
 15  Bandeira           179962 non-null  object
dtypes: float64(2), object(14)
memory usage: 22.0+ MB

#### 2007

In [26]:
glp_2007_01 = pd.read_csv("rsc/glp-2007-01.csv", sep=';')

In [27]:
glp_2007_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162688 entries, 0 to 162687
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     162688 non-null  object
 1   Estado - Sigla     162688 non-null  object
 2   Municipio          162688 non-null  object
 3   Revenda            162688 non-null  object
 4   CNPJ da Revenda    162688 non-null  object
 5   Nome da Rua        162688 non-null  object
 6   Numero Rua         162688 non-null  object
 7   Complemento        21160 non-null   object
 8   Bairro             162562 non-null  object
 9   Cep                162688 non-null  object
 10  Produto            162688 non-null  object
 11  Data da Coleta     162688 non-null  object
 12  Valor de Venda     162688 non-null  object
 13  Valor de Compra    74460 non-null   object
 14  Unidade de Medida  162688 non-null  object
 15  Bandeira           162688 non-null  object
dtypes: object(16)
memory usage: 19.9+ MB

In [28]:
glp_2007_01['Valor de Venda'] = glp_2007_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2007_01['Valor de Compra'] = glp_2007_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [29]:
glp_2007_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162688 entries, 0 to 162687
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     162688 non-null  object
 1   Estado - Sigla     162688 non-null  object
 2   Municipio          162688 non-null  object
 3   Revenda            162688 non-null  object
 4   CNPJ da Revenda    162688 non-null  object
 5   Nome da Rua        162688 non-null  object
 6   Numero Rua         162688 non-null  object
 7   Complemento        21160 non-null   object
 8   Bairro             162562 non-null  object
 9   Cep                162688 non-null  object
 10  Produto            162688 non-null  object
 11  Data da Coleta     162688 non-null  object
 12  Valor de Venda     162688 non-null  float64
 13  Valor de Compra    74460 non-null   float64
 14  Unidade de Medida  162688 non-null  object
 15  Bandeira           162688 non-null  object
dtypes: float64(2), object(14)
memory usage: 19.9+ MB

In [30]:
glp_2007_02 = pd.read_csv("rsc/glp-2007-02.csv", sep=';')

In [31]:
glp_2007_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193123 entries, 0 to 193122
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     193123 non-null  object
 1   Estado - Sigla     193123 non-null  object
 2   Municipio          193123 non-null  object
 3   Revenda            193123 non-null  object
 4   CNPJ da Revenda    193123 non-null  object
 5   Nome da Rua        193123 non-null  object
 6   Numero Rua         193123 non-null  object
 7   Complemento        30224 non-null   object
 8   Bairro             193060 non-null  object
 9   Cep                193123 non-null  object
 10  Produto            193123 non-null  object
 11  Data da Coleta     193123 non-null  object
 12  Valor de Venda     193123 non-null  object
 13  Valor de Compra    84601 non-null   object
 14  Unidade de Medida  193123 non-null  object
 15  Bandeira           193123 non-null  object
dtypes: object(16)
memory usage: 23.6+ MB

In [32]:
glp_2007_02['Valor de Venda'] = glp_2007_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2007_02['Valor de Compra'] = glp_2007_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [33]:
glp_2007_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193123 entries, 0 to 193122
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     193123 non-null  object
 1   Estado - Sigla     193123 non-null  object
 2   Municipio          193123 non-null  object
 3   Revenda            193123 non-null  object
 4   CNPJ da Revenda    193123 non-null  object
 5   Nome da Rua        193123 non-null  object
 6   Numero Rua         193123 non-null  object
 7   Complemento        30224 non-null   object
 8   Bairro             193060 non-null  object
 9   Cep                193123 non-null  object
 10  Produto            193123 non-null  object
 11  Data da Coleta     193123 non-null  object
 12  Valor de Venda     193123 non-null  float64
 13  Valor de Compra    84601 non-null   float64
 14  Unidade de Medida  193123 non-null  object
 15  Bandeira           193123 non-null  object
dtypes: float64(2), object(14)
memory usage: 23.6+ MB

#### 2008

In [34]:
glp_2008_01 = pd.read_csv("rsc/glp-2008-01.csv", sep=';')

In [35]:
glp_2008_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201881 entries, 0 to 201880
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     201881 non-null  object
 1   Estado - Sigla     201881 non-null  object
 2   Municipio          201881 non-null  object
 3   Revenda            201881 non-null  object
 4   CNPJ da Revenda    201881 non-null  object
 5   Nome da Rua        201881 non-null  object
 6   Numero Rua         201881 non-null  object
 7   Complemento        32422 non-null   object
 8   Bairro             201844 non-null  object
 9   Cep                201881 non-null  object
 10  Produto            201881 non-null  object
 11  Data da Coleta     201881 non-null  object
 12  Valor de Venda     201881 non-null  object
 13  Valor de Compra    90626 non-null   object
 14  Unidade de Medida  201881 non-null  object
 15  Bandeira           201881 non-null  object
dtypes: object(16)
memory usage: 24.6+ MB

In [36]:
glp_2008_01['Valor de Venda'] = glp_2008_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2008_01['Valor de Compra'] = glp_2008_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [37]:
glp_2008_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201881 entries, 0 to 201880
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     201881 non-null  object
 1   Estado - Sigla     201881 non-null  object
 2   Municipio          201881 non-null  object
 3   Revenda            201881 non-null  object
 4   CNPJ da Revenda    201881 non-null  object
 5   Nome da Rua        201881 non-null  object
 6   Numero Rua         201881 non-null  object
 7   Complemento        32422 non-null   object
 8   Bairro             201844 non-null  object
 9   Cep                201881 non-null  object
 10  Produto            201881 non-null  object
 11  Data da Coleta     201881 non-null  object
 12  Valor de Venda     201881 non-null  float64
 13  Valor de Compra    90626 non-null   float64
 14  Unidade de Medida  201881 non-null  object
 15  Bandeira           201881 non-null  object
dtypes: float64(2), object(14)
memory usage: 24.6+ MB

In [38]:
glp_2008_02 = pd.read_csv("rsc/glp-2008-02.csv", sep=';')

In [39]:
glp_2008_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210966 entries, 0 to 210965
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210966 non-null  object
 1   Estado - Sigla     210966 non-null  object
 2   Municipio          210966 non-null  object
 3   Revenda            210966 non-null  object
 4   CNPJ da Revenda    210966 non-null  object
 5   Nome da Rua        210966 non-null  object
 6   Numero Rua         210966 non-null  object
 7   Complemento        34521 non-null   object
 8   Bairro             210925 non-null  object
 9   Cep                210966 non-null  object
 10  Produto            210966 non-null  object
 11  Data da Coleta     210966 non-null  object
 12  Valor de Venda     210966 non-null  object
 13  Valor de Compra    91974 non-null   object
 14  Unidade de Medida  210966 non-null  object
 15  Bandeira           210966 non-null  object
dtypes: object(16)
memory usage: 25.8+ MB

In [40]:
glp_2008_02['Valor de Venda'] = glp_2008_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2008_02['Valor de Compra'] = glp_2008_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [41]:
glp_2008_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210966 entries, 0 to 210965
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210966 non-null  object
 1   Estado - Sigla     210966 non-null  object
 2   Municipio          210966 non-null  object
 3   Revenda            210966 non-null  object
 4   CNPJ da Revenda    210966 non-null  object
 5   Nome da Rua        210966 non-null  object
 6   Numero Rua         210966 non-null  object
 7   Complemento        34521 non-null   object
 8   Bairro             210925 non-null  object
 9   Cep                210966 non-null  object
 10  Produto            210966 non-null  object
 11  Data da Coleta     210966 non-null  object
 12  Valor de Venda     210966 non-null  float64
 13  Valor de Compra    91974 non-null   float64
 14  Unidade de Medida  210966 non-null  object
 15  Bandeira           210966 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.8+ MB

#### 2009

In [42]:
glp_2009_01 = pd.read_csv("rsc/glp-2009-01.csv", sep=';')

In [43]:
glp_2009_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199939 entries, 0 to 199938
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     199939 non-null  object
 1   Estado - Sigla     199939 non-null  object
 2   Municipio          199939 non-null  object
 3   Revenda            199939 non-null  object
 4   CNPJ da Revenda    199939 non-null  object
 5   Nome da Rua        199939 non-null  object
 6   Numero Rua         199939 non-null  object
 7   Complemento        32640 non-null   object
 8   Bairro             199900 non-null  object
 9   Cep                199939 non-null  object
 10  Produto            199939 non-null  object
 11  Data da Coleta     199939 non-null  object
 12  Valor de Venda     199939 non-null  object
 13  Valor de Compra    84821 non-null   object
 14  Unidade de Medida  199939 non-null  object
 15  Bandeira           199939 non-null  object
dtypes: object(16)
memory usage: 24.4+ MB

In [44]:
glp_2009_01['Valor de Venda'] = glp_2009_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2009_01['Valor de Compra'] = glp_2009_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [45]:
glp_2009_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199939 entries, 0 to 199938
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     199939 non-null  object
 1   Estado - Sigla     199939 non-null  object
 2   Municipio          199939 non-null  object
 3   Revenda            199939 non-null  object
 4   CNPJ da Revenda    199939 non-null  object
 5   Nome da Rua        199939 non-null  object
 6   Numero Rua         199939 non-null  object
 7   Complemento        32640 non-null   object
 8   Bairro             199900 non-null  object
 9   Cep                199939 non-null  object
 10  Produto            199939 non-null  object
 11  Data da Coleta     199939 non-null  object
 12  Valor de Venda     199939 non-null  float64
 13  Valor de Compra    84821 non-null   float64
 14  Unidade de Medida  199939 non-null  object
 15  Bandeira           199939 non-null  object
dtypes: float64(2), object(14)
memory usage: 24.4+ MB

In [46]:
glp_2009_02 = pd.read_csv("rsc/glp-2009-02.csv", sep=';')

In [47]:
glp_2009_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134046 entries, 0 to 134045
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     134046 non-null  object
 1   Estado - Sigla     134046 non-null  object
 2   Municipio          134046 non-null  object
 3   Revenda            134046 non-null  object
 4   CNPJ da Revenda    134046 non-null  object
 5   Nome da Rua        134046 non-null  object
 6   Numero Rua         134046 non-null  object
 7   Complemento        21450 non-null   object
 8   Bairro             134037 non-null  object
 9   Cep                134046 non-null  object
 10  Produto            134046 non-null  object
 11  Data da Coleta     134046 non-null  object
 12  Valor de Venda     134046 non-null  object
 13  Valor de Compra    52794 non-null   object
 14  Unidade de Medida  134046 non-null  object
 15  Bandeira           134046 non-null  object
dtypes: object(16)
memory usage: 16.4+ MB

In [48]:
glp_2009_02['Valor de Venda'] = glp_2009_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2009_02['Valor de Compra'] = glp_2009_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [49]:
glp_2009_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134046 entries, 0 to 134045
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     134046 non-null  object
 1   Estado - Sigla     134046 non-null  object
 2   Municipio          134046 non-null  object
 3   Revenda            134046 non-null  object
 4   CNPJ da Revenda    134046 non-null  object
 5   Nome da Rua        134046 non-null  object
 6   Numero Rua         134046 non-null  object
 7   Complemento        21450 non-null   object
 8   Bairro             134037 non-null  object
 9   Cep                134046 non-null  object
 10  Produto            134046 non-null  object
 11  Data da Coleta     134046 non-null  object
 12  Valor de Venda     134046 non-null  float64
 13  Valor de Compra    52794 non-null   float64
 14  Unidade de Medida  134046 non-null  object
 15  Bandeira           134046 non-null  object
dtypes: float64(2), object(14)
memory usage: 16.4+ MB

#### 2010

In [50]:
glp_2010_01 = pd.read_csv("rsc/glp-2010-01.csv", sep=';')

In [51]:
glp_2010_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185607 entries, 0 to 185606
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     185607 non-null  object
 1   Estado - Sigla     185607 non-null  object
 2   Municipio          185607 non-null  object
 3   Revenda            185607 non-null  object
 4   CNPJ da Revenda    185607 non-null  object
 5   Nome da Rua        185607 non-null  object
 6   Numero Rua         185607 non-null  object
 7   Complemento        28172 non-null   object
 8   Bairro             185605 non-null  object
 9   Cep                185607 non-null  object
 10  Produto            185607 non-null  object
 11  Data da Coleta     185607 non-null  object
 12  Valor de Venda     185607 non-null  object
 13  Valor de Compra    65184 non-null   object
 14  Unidade de Medida  185607 non-null  object
 15  Bandeira           185607 non-null  object
dtypes: object(16)
memory usage: 22.7+ MB

In [52]:
glp_2010_01['Valor de Venda'] = glp_2010_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2010_01['Valor de Compra'] = glp_2010_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [53]:
glp_2010_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185607 entries, 0 to 185606
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     185607 non-null  object
 1   Estado - Sigla     185607 non-null  object
 2   Municipio          185607 non-null  object
 3   Revenda            185607 non-null  object
 4   CNPJ da Revenda    185607 non-null  object
 5   Nome da Rua        185607 non-null  object
 6   Numero Rua         185607 non-null  object
 7   Complemento        28172 non-null   object
 8   Bairro             185605 non-null  object
 9   Cep                185607 non-null  object
 10  Produto            185607 non-null  object
 11  Data da Coleta     185607 non-null  object
 12  Valor de Venda     185607 non-null  float64
 13  Valor de Compra    65184 non-null   float64
 14  Unidade de Medida  185607 non-null  object
 15  Bandeira           185607 non-null  object
dtypes: float64(2), object(14)
memory usage: 22.7+ MB

In [54]:
glp_2010_02 = pd.read_csv("rsc/glp-2010-02.csv", sep=';')

In [55]:
glp_2010_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196586 entries, 0 to 196585
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     196586 non-null  object
 1   Estado - Sigla     196586 non-null  object
 2   Municipio          196586 non-null  object
 3   Revenda            196586 non-null  object
 4   CNPJ da Revenda    196586 non-null  object
 5   Nome da Rua        196586 non-null  object
 6   Numero Rua         196586 non-null  object
 7   Complemento        42295 non-null   object
 8   Bairro             196573 non-null  object
 9   Cep                196586 non-null  object
 10  Produto            196586 non-null  object
 11  Data da Coleta     196586 non-null  object
 12  Valor de Venda     196586 non-null  object
 13  Valor de Compra    69601 non-null   object
 14  Unidade de Medida  196586 non-null  object
 15  Bandeira           196586 non-null  object
dtypes: object(16)
memory usage: 24.0+ MB

In [56]:
glp_2010_02['Valor de Venda'] = glp_2010_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2010_02['Valor de Compra'] = glp_2010_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [57]:
glp_2010_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196586 entries, 0 to 196585
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     196586 non-null  object
 1   Estado - Sigla     196586 non-null  object
 2   Municipio          196586 non-null  object
 3   Revenda            196586 non-null  object
 4   CNPJ da Revenda    196586 non-null  object
 5   Nome da Rua        196586 non-null  object
 6   Numero Rua         196586 non-null  object
 7   Complemento        42295 non-null   object
 8   Bairro             196573 non-null  object
 9   Cep                196586 non-null  object
 10  Produto            196586 non-null  object
 11  Data da Coleta     196586 non-null  object
 12  Valor de Venda     196586 non-null  float64
 13  Valor de Compra    69601 non-null   float64
 14  Unidade de Medida  196586 non-null  object
 15  Bandeira           196586 non-null  object
dtypes: float64(2), object(14)
memory usage: 24.0+ MB

#### 2011

In [58]:
glp_2011_01 = pd.read_csv("rsc/glp-2011-01.csv", sep=';')

In [59]:
glp_2011_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207883 entries, 0 to 207882
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     207883 non-null  object
 1   Estado - Sigla     207883 non-null  object
 2   Municipio          207883 non-null  object
 3   Revenda            207883 non-null  object
 4   CNPJ da Revenda    207883 non-null  object
 5   Nome da Rua        207883 non-null  object
 6   Numero Rua         207883 non-null  object
 7   Complemento        45991 non-null   object
 8   Bairro             207857 non-null  object
 9   Cep                207883 non-null  object
 10  Produto            207883 non-null  object
 11  Data da Coleta     207883 non-null  object
 12  Valor de Venda     207883 non-null  object
 13  Valor de Compra    65044 non-null   object
 14  Unidade de Medida  207883 non-null  object
 15  Bandeira           207883 non-null  object
dtypes: object(16)
memory usage: 25.4+ MB

In [60]:
glp_2011_01['Valor de Venda'] = glp_2011_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2011_01['Valor de Compra'] = glp_2011_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [61]:
glp_2011_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207883 entries, 0 to 207882
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     207883 non-null  object
 1   Estado - Sigla     207883 non-null  object
 2   Municipio          207883 non-null  object
 3   Revenda            207883 non-null  object
 4   CNPJ da Revenda    207883 non-null  object
 5   Nome da Rua        207883 non-null  object
 6   Numero Rua         207883 non-null  object
 7   Complemento        45991 non-null   object
 8   Bairro             207857 non-null  object
 9   Cep                207883 non-null  object
 10  Produto            207883 non-null  object
 11  Data da Coleta     207883 non-null  object
 12  Valor de Venda     207883 non-null  float64
 13  Valor de Compra    65044 non-null   float64
 14  Unidade de Medida  207883 non-null  object
 15  Bandeira           207883 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.4+ MB

In [62]:
glp_2011_02 = pd.read_csv("rsc/glp-2011-02.csv", sep=';')

In [63]:
glp_2011_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210134 entries, 0 to 210133
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210134 non-null  object
 1   Estado - Sigla     210134 non-null  object
 2   Municipio          210134 non-null  object
 3   Revenda            210134 non-null  object
 4   CNPJ da Revenda    210134 non-null  object
 5   Nome da Rua        210134 non-null  object
 6   Numero Rua         210134 non-null  object
 7   Complemento        46124 non-null   object
 8   Bairro             210108 non-null  object
 9   Cep                210134 non-null  object
 10  Produto            210134 non-null  object
 11  Data da Coleta     210134 non-null  object
 12  Valor de Venda     210134 non-null  object
 13  Valor de Compra    62721 non-null   object
 14  Unidade de Medida  210134 non-null  object
 15  Bandeira           210134 non-null  object
dtypes: object(16)
memory usage: 25.7+ MB

In [64]:
glp_2011_02['Valor de Venda'] = glp_2011_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2011_02['Valor de Compra'] = glp_2011_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [65]:
glp_2011_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210134 entries, 0 to 210133
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210134 non-null  object
 1   Estado - Sigla     210134 non-null  object
 2   Municipio          210134 non-null  object
 3   Revenda            210134 non-null  object
 4   CNPJ da Revenda    210134 non-null  object
 5   Nome da Rua        210134 non-null  object
 6   Numero Rua         210134 non-null  object
 7   Complemento        46124 non-null   object
 8   Bairro             210108 non-null  object
 9   Cep                210134 non-null  object
 10  Produto            210134 non-null  object
 11  Data da Coleta     210134 non-null  object
 12  Valor de Venda     210134 non-null  float64
 13  Valor de Compra    62721 non-null   float64
 14  Unidade de Medida  210134 non-null  object
 15  Bandeira           210134 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.7+ MB

#### 2012

In [66]:
glp_2012_01 = pd.read_csv("rsc/glp-2012-01.csv", sep=';')

In [67]:
glp_2012_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209900 entries, 0 to 209899
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     209900 non-null  object
 1   Estado - Sigla     209900 non-null  object
 2   Municipio          209900 non-null  object
 3   Revenda            209900 non-null  object
 4   CNPJ da Revenda    209900 non-null  object
 5   Nome da Rua        209900 non-null  object
 6   Numero Rua         209900 non-null  object
 7   Complemento        46235 non-null   object
 8   Bairro             209874 non-null  object
 9   Cep                209900 non-null  object
 10  Produto            209900 non-null  object
 11  Data da Coleta     209900 non-null  object
 12  Valor de Venda     209900 non-null  object
 13  Valor de Compra    58020 non-null   object
 14  Unidade de Medida  209900 non-null  object
 15  Bandeira           209900 non-null  object
dtypes: object(16)
memory usage: 25.6+ MB

In [68]:
glp_2012_01['Valor de Venda'] = glp_2012_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2012_01['Valor de Compra'] = glp_2012_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [69]:
glp_2012_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209900 entries, 0 to 209899
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     209900 non-null  object
 1   Estado - Sigla     209900 non-null  object
 2   Municipio          209900 non-null  object
 3   Revenda            209900 non-null  object
 4   CNPJ da Revenda    209900 non-null  object
 5   Nome da Rua        209900 non-null  object
 6   Numero Rua         209900 non-null  object
 7   Complemento        46235 non-null   object
 8   Bairro             209874 non-null  object
 9   Cep                209900 non-null  object
 10  Produto            209900 non-null  object
 11  Data da Coleta     209900 non-null  object
 12  Valor de Venda     209900 non-null  float64
 13  Valor de Compra    58020 non-null   float64
 14  Unidade de Medida  209900 non-null  object
 15  Bandeira           209900 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.6+ MB

In [70]:
glp_2012_02 = pd.read_csv("rsc/glp-2012-02.csv", sep=';')

In [71]:
glp_2012_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210866 entries, 0 to 210865
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210866 non-null  object
 1   Estado - Sigla     210866 non-null  object
 2   Municipio          210866 non-null  object
 3   Revenda            210866 non-null  object
 4   CNPJ da Revenda    210866 non-null  object
 5   Nome da Rua        210866 non-null  object
 6   Numero Rua         210866 non-null  object
 7   Complemento        46841 non-null   object
 8   Bairro             210840 non-null  object
 9   Cep                210866 non-null  object
 10  Produto            210866 non-null  object
 11  Data da Coleta     210866 non-null  object
 12  Valor de Venda     210866 non-null  object
 13  Valor de Compra    64688 non-null   object
 14  Unidade de Medida  210866 non-null  object
 15  Bandeira           210866 non-null  object
dtypes: object(16)
memory usage: 25.7+ MB

In [72]:
glp_2012_02['Valor de Venda'] = glp_2012_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2012_02['Valor de Compra'] = glp_2012_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [73]:
glp_2012_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210866 entries, 0 to 210865
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     210866 non-null  object
 1   Estado - Sigla     210866 non-null  object
 2   Municipio          210866 non-null  object
 3   Revenda            210866 non-null  object
 4   CNPJ da Revenda    210866 non-null  object
 5   Nome da Rua        210866 non-null  object
 6   Numero Rua         210866 non-null  object
 7   Complemento        46841 non-null   object
 8   Bairro             210840 non-null  object
 9   Cep                210866 non-null  object
 10  Produto            210866 non-null  object
 11  Data da Coleta     210866 non-null  object
 12  Valor de Venda     210866 non-null  float64
 13  Valor de Compra    64688 non-null   float64
 14  Unidade de Medida  210866 non-null  object
 15  Bandeira           210866 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.7+ MB

#### 2013

In [74]:
glp_2013_01 = pd.read_csv("rsc/glp-2013-01.csv", sep=';')

In [75]:
glp_2013_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209102 entries, 0 to 209101
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     209102 non-null  object
 1   Estado - Sigla     209102 non-null  object
 2   Municipio          209102 non-null  object
 3   Revenda            209102 non-null  object
 4   CNPJ da Revenda    209102 non-null  object
 5   Nome da Rua        209102 non-null  object
 6   Numero Rua         209094 non-null  object
 7   Complemento        46505 non-null   object
 8   Bairro             209092 non-null  object
 9   Cep                209102 non-null  object
 10  Produto            209102 non-null  object
 11  Data da Coleta     209102 non-null  object
 12  Valor de Venda     209102 non-null  object
 13  Valor de Compra    63609 non-null   object
 14  Unidade de Medida  209102 non-null  object
 15  Bandeira           209102 non-null  object
dtypes: object(16)
memory usage: 25.5+ MB

In [76]:
glp_2013_01['Valor de Venda'] = glp_2013_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2013_01['Valor de Compra'] = glp_2013_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [77]:
glp_2013_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209102 entries, 0 to 209101
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     209102 non-null  object
 1   Estado - Sigla     209102 non-null  object
 2   Municipio          209102 non-null  object
 3   Revenda            209102 non-null  object
 4   CNPJ da Revenda    209102 non-null  object
 5   Nome da Rua        209102 non-null  object
 6   Numero Rua         209094 non-null  object
 7   Complemento        46505 non-null   object
 8   Bairro             209092 non-null  object
 9   Cep                209102 non-null  object
 10  Produto            209102 non-null  object
 11  Data da Coleta     209102 non-null  object
 12  Valor de Venda     209102 non-null  float64
 13  Valor de Compra    63609 non-null   float64
 14  Unidade de Medida  209102 non-null  object
 15  Bandeira           209102 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.5+ MB

In [78]:
glp_2013_02 = pd.read_csv("rsc/glp-2013-02.csv", sep=';')

In [79]:
glp_2013_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212689 entries, 0 to 212688
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     212689 non-null  object
 1   Estado - Sigla     212689 non-null  object
 2   Municipio          212689 non-null  object
 3   Revenda            212689 non-null  object
 4   CNPJ da Revenda    212689 non-null  object
 5   Nome da Rua        212689 non-null  object
 6   Numero Rua         212667 non-null  object
 7   Complemento        47253 non-null   object
 8   Bairro             212689 non-null  object
 9   Cep                212689 non-null  object
 10  Produto            212689 non-null  object
 11  Data da Coleta     212689 non-null  object
 12  Valor de Venda     212689 non-null  object
 13  Valor de Compra    58310 non-null   object
 14  Unidade de Medida  212689 non-null  object
 15  Bandeira           212689 non-null  object
dtypes: object(16)
memory usage: 26.0+ MB

In [80]:
glp_2013_02['Valor de Venda'] = glp_2013_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2013_02['Valor de Compra'] = glp_2013_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [81]:
glp_2013_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212689 entries, 0 to 212688
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     212689 non-null  object
 1   Estado - Sigla     212689 non-null  object
 2   Municipio          212689 non-null  object
 3   Revenda            212689 non-null  object
 4   CNPJ da Revenda    212689 non-null  object
 5   Nome da Rua        212689 non-null  object
 6   Numero Rua         212667 non-null  object
 7   Complemento        47253 non-null   object
 8   Bairro             212689 non-null  object
 9   Cep                212689 non-null  object
 10  Produto            212689 non-null  object
 11  Data da Coleta     212689 non-null  object
 12  Valor de Venda     212689 non-null  float64
 13  Valor de Compra    58310 non-null   float64
 14  Unidade de Medida  212689 non-null  object
 15  Bandeira           212689 non-null  object
dtypes: float64(2), object(14)
memory usage: 26.0+ MB

#### 2014

In [82]:
glp_2014_01 = pd.read_csv("rsc/glp-2014-01.csv", sep=';')

In [83]:
glp_2014_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205186 entries, 0 to 205185
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     205186 non-null  object
 1   Estado - Sigla     205186 non-null  object
 2   Municipio          205186 non-null  object
 3   Revenda            205186 non-null  object
 4   CNPJ da Revenda    205186 non-null  object
 5   Nome da Rua        205186 non-null  object
 6   Numero Rua         205161 non-null  object
 7   Complemento        44952 non-null   object
 8   Bairro             205186 non-null  object
 9   Cep                205186 non-null  object
 10  Produto            205186 non-null  object
 11  Data da Coleta     205186 non-null  object
 12  Valor de Venda     205186 non-null  object
 13  Valor de Compra    52338 non-null   object
 14  Unidade de Medida  205186 non-null  object
 15  Bandeira           205186 non-null  object
dtypes: object(16)
memory usage: 25.0+ MB

In [84]:
glp_2014_01['Valor de Venda'] = glp_2014_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2014_01['Valor de Compra'] = glp_2014_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [85]:
glp_2014_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205186 entries, 0 to 205185
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     205186 non-null  object
 1   Estado - Sigla     205186 non-null  object
 2   Municipio          205186 non-null  object
 3   Revenda            205186 non-null  object
 4   CNPJ da Revenda    205186 non-null  object
 5   Nome da Rua        205186 non-null  object
 6   Numero Rua         205161 non-null  object
 7   Complemento        44952 non-null   object
 8   Bairro             205186 non-null  object
 9   Cep                205186 non-null  object
 10  Produto            205186 non-null  object
 11  Data da Coleta     205186 non-null  object
 12  Valor de Venda     205186 non-null  float64
 13  Valor de Compra    52338 non-null   float64
 14  Unidade de Medida  205186 non-null  object
 15  Bandeira           205186 non-null  object
dtypes: float64(2), object(14)
memory usage: 25.0+ MB

In [86]:
glp_2014_02 = pd.read_csv("rsc/glp-2014-02.csv", sep=';')

In [87]:
glp_2014_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213453 entries, 0 to 213452
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     213453 non-null  object
 1   Estado - Sigla     213453 non-null  object
 2   Municipio          213453 non-null  object
 3   Revenda            213453 non-null  object
 4   CNPJ da Revenda    213453 non-null  object
 5   Nome da Rua        213453 non-null  object
 6   Numero Rua         213430 non-null  object
 7   Complemento        46762 non-null   object
 8   Bairro             213453 non-null  object
 9   Cep                213453 non-null  object
 10  Produto            213453 non-null  object
 11  Data da Coleta     213453 non-null  object
 12  Valor de Venda     213453 non-null  object
 13  Valor de Compra    53198 non-null   object
 14  Unidade de Medida  213453 non-null  object
 15  Bandeira           213453 non-null  object
dtypes: object(16)
memory usage: 26.1+ MB

In [88]:
glp_2014_02['Valor de Venda'] = glp_2014_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2014_02['Valor de Compra'] = glp_2014_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [89]:
glp_2014_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213453 entries, 0 to 213452
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     213453 non-null  object
 1   Estado - Sigla     213453 non-null  object
 2   Municipio          213453 non-null  object
 3   Revenda            213453 non-null  object
 4   CNPJ da Revenda    213453 non-null  object
 5   Nome da Rua        213453 non-null  object
 6   Numero Rua         213430 non-null  object
 7   Complemento        46762 non-null   object
 8   Bairro             213453 non-null  object
 9   Cep                213453 non-null  object
 10  Produto            213453 non-null  object
 11  Data da Coleta     213453 non-null  object
 12  Valor de Venda     213453 non-null  float64
 13  Valor de Compra    53198 non-null   float64
 14  Unidade de Medida  213453 non-null  object
 15  Bandeira           213453 non-null  object
dtypes: float64(2), object(14)
memory usage: 26.1+ MB

#### 2015

In [90]:
glp_2015_01 = pd.read_csv("rsc/glp-2015-01.csv", sep=';')

In [91]:
glp_2015_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192999 entries, 0 to 192998
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     192999 non-null  object
 1   Estado - Sigla     192999 non-null  object
 2   Municipio          192999 non-null  object
 3   Revenda            192999 non-null  object
 4   CNPJ da Revenda    192999 non-null  object
 5   Nome da Rua        192999 non-null  object
 6   Numero Rua         192979 non-null  object
 7   Complemento        45692 non-null   object
 8   Bairro             192999 non-null  object
 9   Cep                192999 non-null  object
 10  Produto            192999 non-null  object
 11  Data da Coleta     192999 non-null  object
 12  Valor de Venda     192999 non-null  object
 13  Valor de Compra    43903 non-null   object
 14  Unidade de Medida  192999 non-null  object
 15  Bandeira           192999 non-null  object
dtypes: object(16)
memory usage: 23.6+ MB

In [92]:
glp_2015_01['Valor de Venda'] = glp_2015_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2015_01['Valor de Compra'] = glp_2015_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [93]:
glp_2015_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192999 entries, 0 to 192998
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     192999 non-null  object
 1   Estado - Sigla     192999 non-null  object
 2   Municipio          192999 non-null  object
 3   Revenda            192999 non-null  object
 4   CNPJ da Revenda    192999 non-null  object
 5   Nome da Rua        192999 non-null  object
 6   Numero Rua         192979 non-null  object
 7   Complemento        45692 non-null   object
 8   Bairro             192999 non-null  object
 9   Cep                192999 non-null  object
 10  Produto            192999 non-null  object
 11  Data da Coleta     192999 non-null  object
 12  Valor de Venda     192999 non-null  float64
 13  Valor de Compra    43903 non-null   float64
 14  Unidade de Medida  192999 non-null  object
 15  Bandeira           192999 non-null  object
dtypes: float64(2), object(14)
memory usage: 23.6+ MB

In [94]:
glp_2015_02 = pd.read_csv("rsc/glp-2015-02.csv", sep=';')

In [95]:
glp_2015_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123646 entries, 0 to 123645
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     123646 non-null  object
 1   Estado - Sigla     123646 non-null  object
 2   Municipio          123646 non-null  object
 3   Revenda            123646 non-null  object
 4   CNPJ da Revenda    123646 non-null  object
 5   Nome da Rua        123646 non-null  object
 6   Numero Rua         123632 non-null  object
 7   Complemento        33281 non-null   object
 8   Bairro             123646 non-null  object
 9   Cep                123646 non-null  object
 10  Produto            123646 non-null  object
 11  Data da Coleta     123646 non-null  object
 12  Valor de Venda     123646 non-null  object
 13  Valor de Compra    31039 non-null   object
 14  Unidade de Medida  123646 non-null  object
 15  Bandeira           123646 non-null  object
dtypes: object(16)
memory usage: 15.1+ MB

In [96]:
glp_2015_02['Valor de Venda'] = glp_2015_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2015_02['Valor de Compra'] = glp_2015_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [97]:
glp_2015_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123646 entries, 0 to 123645
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     123646 non-null  object
 1   Estado - Sigla     123646 non-null  object
 2   Municipio          123646 non-null  object
 3   Revenda            123646 non-null  object
 4   CNPJ da Revenda    123646 non-null  object
 5   Nome da Rua        123646 non-null  object
 6   Numero Rua         123632 non-null  object
 7   Complemento        33281 non-null   object
 8   Bairro             123646 non-null  object
 9   Cep                123646 non-null  object
 10  Produto            123646 non-null  object
 11  Data da Coleta     123646 non-null  object
 12  Valor de Venda     123646 non-null  float64
 13  Valor de Compra    31039 non-null   float64
 14  Unidade de Medida  123646 non-null  object
 15  Bandeira           123646 non-null  object
dtypes: float64(2), object(14)
memory usage: 15.1+ MB

#### 2016

In [98]:
glp_2016_01 = pd.read_csv("rsc/glp-2016-01.csv", sep=';')

In [99]:
glp_2016_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143226 entries, 0 to 143225
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143226 non-null  object
 1   Estado - Sigla     143226 non-null  object
 2   Municipio          143226 non-null  object
 3   Revenda            143226 non-null  object
 4   CNPJ da Revenda    143226 non-null  object
 5   Nome da Rua        143226 non-null  object
 6   Numero Rua         143189 non-null  object
 7   Complemento        38384 non-null   object
 8   Bairro             143226 non-null  object
 9   Cep                143226 non-null  object
 10  Produto            143226 non-null  object
 11  Data da Coleta     143226 non-null  object
 12  Valor de Venda     143226 non-null  object
 13  Valor de Compra    32332 non-null   object
 14  Unidade de Medida  143226 non-null  object
 15  Bandeira           143226 non-null  object
dtypes: object(16)
memory usage: 17.5+ MB

In [100]:
glp_2016_01['Valor de Venda'] = glp_2016_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2016_01['Valor de Compra'] = glp_2016_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [101]:
glp_2016_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143226 entries, 0 to 143225
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143226 non-null  object
 1   Estado - Sigla     143226 non-null  object
 2   Municipio          143226 non-null  object
 3   Revenda            143226 non-null  object
 4   CNPJ da Revenda    143226 non-null  object
 5   Nome da Rua        143226 non-null  object
 6   Numero Rua         143189 non-null  object
 7   Complemento        38384 non-null   object
 8   Bairro             143226 non-null  object
 9   Cep                143226 non-null  object
 10  Produto            143226 non-null  object
 11  Data da Coleta     143226 non-null  object
 12  Valor de Venda     143226 non-null  float64
 13  Valor de Compra    32332 non-null   float64
 14  Unidade de Medida  143226 non-null  object
 15  Bandeira           143226 non-null  object
dtypes: float64(2), object(14)
memory usage: 17.5+ MB

In [102]:
glp_2016_02 = pd.read_csv("rsc/glp-2016-02.csv", sep=';')

In [103]:
glp_2016_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142753 entries, 0 to 142752
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     142753 non-null  object
 1   Estado - Sigla     142753 non-null  object
 2   Municipio          142753 non-null  object
 3   Revenda            142753 non-null  object
 4   CNPJ da Revenda    142753 non-null  object
 5   Nome da Rua        142753 non-null  object
 6   Numero Rua         142727 non-null  object
 7   Complemento        37372 non-null   object
 8   Bairro             142753 non-null  object
 9   Cep                142753 non-null  object
 10  Produto            142753 non-null  object
 11  Data da Coleta     142753 non-null  object
 12  Valor de Venda     142753 non-null  object
 13  Valor de Compra    47823 non-null   object
 14  Unidade de Medida  142753 non-null  object
 15  Bandeira           142753 non-null  object
dtypes: object(16)
memory usage: 17.4+ MB

In [104]:
glp_2016_02['Valor de Venda'] = glp_2016_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2016_02['Valor de Compra'] = glp_2016_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [105]:
glp_2016_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142753 entries, 0 to 142752
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     142753 non-null  object
 1   Estado - Sigla     142753 non-null  object
 2   Municipio          142753 non-null  object
 3   Revenda            142753 non-null  object
 4   CNPJ da Revenda    142753 non-null  object
 5   Nome da Rua        142753 non-null  object
 6   Numero Rua         142727 non-null  object
 7   Complemento        37372 non-null   object
 8   Bairro             142753 non-null  object
 9   Cep                142753 non-null  object
 10  Produto            142753 non-null  object
 11  Data da Coleta     142753 non-null  object
 12  Valor de Venda     142753 non-null  float64
 13  Valor de Compra    47823 non-null   float64
 14  Unidade de Medida  142753 non-null  object
 15  Bandeira           142753 non-null  object
dtypes: float64(2), object(14)
memory usage: 17.4+ MB

#### 2017

In [106]:
glp_2017_01 = pd.read_csv("rsc/glp-2017-01.csv", sep=';')

In [107]:
glp_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143201 entries, 0 to 143200
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143201 non-null  object
 1   Estado - Sigla     143201 non-null  object
 2   Municipio          143201 non-null  object
 3   Revenda            143201 non-null  object
 4   CNPJ da Revenda    143201 non-null  object
 5   Nome da Rua        143201 non-null  object
 6   Numero Rua         143199 non-null  object
 7   Complemento        35696 non-null   object
 8   Bairro             143181 non-null  object
 9   Cep                143201 non-null  object
 10  Produto            143201 non-null  object
 11  Data da Coleta     143201 non-null  object
 12  Valor de Venda     143201 non-null  object
 13  Valor de Compra    50277 non-null   object
 14  Unidade de Medida  143201 non-null  object
 15  Bandeira           143201 non-null  object
dtypes: object(16)
memory usage: 17.5+ MB

In [108]:
glp_2017_01['Valor de Venda'] = glp_2017_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2017_01['Valor de Compra'] = glp_2017_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [109]:
glp_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143201 entries, 0 to 143200
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143201 non-null  object
 1   Estado - Sigla     143201 non-null  object
 2   Municipio          143201 non-null  object
 3   Revenda            143201 non-null  object
 4   CNPJ da Revenda    143201 non-null  object
 5   Nome da Rua        143201 non-null  object
 6   Numero Rua         143199 non-null  object
 7   Complemento        35696 non-null   object
 8   Bairro             143181 non-null  object
 9   Cep                143201 non-null  object
 10  Produto            143201 non-null  object
 11  Data da Coleta     143201 non-null  object
 12  Valor de Venda     143201 non-null  float64
 13  Valor de Compra    50277 non-null   float64
 14  Unidade de Medida  143201 non-null  object
 15  Bandeira           143201 non-null  object
dtypes: float64(2), object(14)
memory usage: 17.5+ MB

In [110]:
glp_2017_02 = pd.read_csv("rsc/glp-2017-02.csv", sep=';')

In [111]:
glp_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143201 entries, 0 to 143200
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143201 non-null  object
 1   Estado - Sigla     143201 non-null  object
 2   Municipio          143201 non-null  object
 3   Revenda            143201 non-null  object
 4   CNPJ da Revenda    143201 non-null  object
 5   Nome da Rua        143201 non-null  object
 6   Numero Rua         143199 non-null  object
 7   Complemento        35696 non-null   object
 8   Bairro             143181 non-null  object
 9   Cep                143201 non-null  object
 10  Produto            143201 non-null  object
 11  Data da Coleta     143201 non-null  object
 12  Valor de Venda     143201 non-null  float64
 13  Valor de Compra    50277 non-null   float64
 14  Unidade de Medida  143201 non-null  object
 15  Bandeira           143201 non-null  object
dtypes: float64(2), object(14)
memory usage: 17.5+ MB

In [112]:
glp_2017_02['Valor de Venda'] = glp_2017_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2017_02['Valor de Compra'] = glp_2017_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [113]:
glp_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143201 entries, 0 to 143200
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     143201 non-null  object
 1   Estado - Sigla     143201 non-null  object
 2   Municipio          143201 non-null  object
 3   Revenda            143201 non-null  object
 4   CNPJ da Revenda    143201 non-null  object
 5   Nome da Rua        143201 non-null  object
 6   Numero Rua         143199 non-null  object
 7   Complemento        35696 non-null   object
 8   Bairro             143181 non-null  object
 9   Cep                143201 non-null  object
 10  Produto            143201 non-null  object
 11  Data da Coleta     143201 non-null  object
 12  Valor de Venda     143201 non-null  float64
 13  Valor de Compra    50277 non-null   float64
 14  Unidade de Medida  143201 non-null  object
 15  Bandeira           143201 non-null  object
dtypes: float64(2), object(14)
memory usage: 17.5+ MB

#### 2018

In [114]:
glp_2018_01 = pd.read_csv("rsc/glp-2018-01.csv", sep=';')

In [115]:
glp_2018_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108580 entries, 0 to 108579
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     108580 non-null  object
 1   Estado - Sigla     108580 non-null  object
 2   Municipio          108580 non-null  object
 3   Revenda            108580 non-null  object
 4   CNPJ da Revenda    108580 non-null  object
 5   Nome da Rua        108580 non-null  object
 6   Numero Rua         108569 non-null  object
 7   Complemento        26066 non-null   object
 8   Bairro             108555 non-null  object
 9   Cep                108580 non-null  object
 10  Produto            108580 non-null  object
 11  Data da Coleta     108580 non-null  object
 12  Valor de Venda     108580 non-null  object
 13  Valor de Compra    33145 non-null   object
 14  Unidade de Medida  108580 non-null  object
 15  Bandeira           108580 non-null  object
dtypes: object(16)
memory usage: 13.3+ MB

In [116]:
glp_2018_01['Valor de Venda'] = glp_2018_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2018_01['Valor de Compra'] = glp_2018_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [117]:
glp_2018_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108580 entries, 0 to 108579
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     108580 non-null  object
 1   Estado - Sigla     108580 non-null  object
 2   Municipio          108580 non-null  object
 3   Revenda            108580 non-null  object
 4   CNPJ da Revenda    108580 non-null  object
 5   Nome da Rua        108580 non-null  object
 6   Numero Rua         108569 non-null  object
 7   Complemento        26066 non-null   object
 8   Bairro             108555 non-null  object
 9   Cep                108580 non-null  object
 10  Produto            108580 non-null  object
 11  Data da Coleta     108580 non-null  object
 12  Valor de Venda     108580 non-null  float64
 13  Valor de Compra    33145 non-null   float64
 14  Unidade de Medida  108580 non-null  object
 15  Bandeira           108580 non-null  object
dtypes: float64(2), object(14)
memory usage: 13.3+ MB

In [118]:
glp_2018_02 = pd.read_csv("rsc/glp-2018-02.csv", sep=';')

In [119]:
glp_2018_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113693 entries, 0 to 113692
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     113693 non-null  object
 1   Estado - Sigla     113693 non-null  object
 2   Municipio          113693 non-null  object
 3   Revenda            113693 non-null  object
 4   CNPJ da Revenda    113693 non-null  object
 5   Nome da Rua        113693 non-null  object
 6   Numero Rua         113663 non-null  object
 7   Complemento        27875 non-null   object
 8   Bairro             113676 non-null  object
 9   Cep                113693 non-null  object
 10  Produto            113693 non-null  object
 11  Data da Coleta     113693 non-null  object
 12  Valor de Venda     113693 non-null  object
 13  Valor de Compra    32799 non-null   object
 14  Unidade de Medida  113693 non-null  object
 15  Bandeira           113693 non-null  object
dtypes: object(16)
memory usage: 13.9+ MB

In [120]:
glp_2018_02['Valor de Venda'] = glp_2018_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2018_02['Valor de Compra'] = glp_2018_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [121]:
glp_2018_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113693 entries, 0 to 113692
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     113693 non-null  object
 1   Estado - Sigla     113693 non-null  object
 2   Municipio          113693 non-null  object
 3   Revenda            113693 non-null  object
 4   CNPJ da Revenda    113693 non-null  object
 5   Nome da Rua        113693 non-null  object
 6   Numero Rua         113663 non-null  object
 7   Complemento        27875 non-null   object
 8   Bairro             113676 non-null  object
 9   Cep                113693 non-null  object
 10  Produto            113693 non-null  object
 11  Data da Coleta     113693 non-null  object
 12  Valor de Venda     113693 non-null  float64
 13  Valor de Compra    32799 non-null   float64
 14  Unidade de Medida  113693 non-null  object
 15  Bandeira           113693 non-null  object
dtypes: float64(2), object(14)
memory usage: 13.9+ MB

#### 2019

In [122]:
glp_2019_01 = pd.read_csv("rsc/glp-2019-01.csv", sep=';')

In [123]:
glp_2019_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113709 entries, 0 to 113708
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     113709 non-null  object
 1   Estado - Sigla     113709 non-null  object
 2   Municipio          113709 non-null  object
 3   Revenda            113709 non-null  object
 4   CNPJ da Revenda    113709 non-null  object
 5   Nome da Rua        113709 non-null  object
 6   Numero Rua         113697 non-null  object
 7   Complemento        27459 non-null   object
 8   Bairro             113683 non-null  object
 9   Cep                113709 non-null  object
 10  Produto            113709 non-null  object
 11  Data da Coleta     113709 non-null  object
 12  Valor de Venda     113709 non-null  object
 13  Valor de Compra    32643 non-null   object
 14  Unidade de Medida  113709 non-null  object
 15  Bandeira           113709 non-null  object
dtypes: object(16)
memory usage: 13.9+ MB

In [124]:
glp_2019_01['Valor de Venda'] = glp_2019_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2019_01['Valor de Compra'] = glp_2019_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [125]:
glp_2019_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113709 entries, 0 to 113708
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     113709 non-null  object
 1   Estado - Sigla     113709 non-null  object
 2   Municipio          113709 non-null  object
 3   Revenda            113709 non-null  object
 4   CNPJ da Revenda    113709 non-null  object
 5   Nome da Rua        113709 non-null  object
 6   Numero Rua         113697 non-null  object
 7   Complemento        27459 non-null   object
 8   Bairro             113683 non-null  object
 9   Cep                113709 non-null  object
 10  Produto            113709 non-null  object
 11  Data da Coleta     113709 non-null  object
 12  Valor de Venda     113709 non-null  float64
 13  Valor de Compra    32643 non-null   float64
 14  Unidade de Medida  113709 non-null  object
 15  Bandeira           113709 non-null  object
dtypes: float64(2), object(14)
memory usage: 13.9+ MB

In [126]:
glp_2019_02 = pd.read_csv("rsc/glp-2019-02.csv", sep=';')

In [127]:
glp_2019_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114695 entries, 0 to 114694
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     114695 non-null  object
 1   Estado - Sigla     114695 non-null  object
 2   Municipio          114695 non-null  object
 3   Revenda            114695 non-null  object
 4   CNPJ da Revenda    114695 non-null  object
 5   Nome da Rua        114695 non-null  object
 6   Numero Rua         114683 non-null  object
 7   Complemento        27112 non-null   object
 8   Bairro             114678 non-null  object
 9   Cep                114695 non-null  object
 10  Produto            114695 non-null  object
 11  Data da Coleta     114695 non-null  object
 12  Valor de Venda     114695 non-null  object
 13  Valor de Compra    38826 non-null   object
 14  Unidade de Medida  114695 non-null  object
 15  Bandeira           114695 non-null  object
dtypes: object(16)
memory usage: 14.0+ MB

In [128]:
glp_2019_02['Valor de Venda'] = glp_2019_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2019_02['Valor de Compra'] = glp_2019_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [129]:
glp_2019_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114695 entries, 0 to 114694
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     114695 non-null  object
 1   Estado - Sigla     114695 non-null  object
 2   Municipio          114695 non-null  object
 3   Revenda            114695 non-null  object
 4   CNPJ da Revenda    114695 non-null  object
 5   Nome da Rua        114695 non-null  object
 6   Numero Rua         114683 non-null  object
 7   Complemento        27112 non-null   object
 8   Bairro             114678 non-null  object
 9   Cep                114695 non-null  object
 10  Produto            114695 non-null  object
 11  Data da Coleta     114695 non-null  object
 12  Valor de Venda     114695 non-null  float64
 13  Valor de Compra    38826 non-null   float64
 14  Unidade de Medida  114695 non-null  object
 15  Bandeira           114695 non-null  object
dtypes: float64(2), object(14)
memory usage: 14.0+ MB

#### 2020

In [130]:
glp_2020_01 = pd.read_csv("rsc/glp-2020-01.csv", sep=';')

In [131]:
glp_2020_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114241 entries, 0 to 114240
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     114241 non-null  object
 1   Estado - Sigla     114241 non-null  object
 2   Municipio          114241 non-null  object
 3   Revenda            114241 non-null  object
 4   CNPJ da Revenda    114241 non-null  object
 5   Nome da Rua        114241 non-null  object
 6   Numero Rua         114224 non-null  object
 7   Complemento        27171 non-null   object
 8   Bairro             114241 non-null  object
 9   Cep                114241 non-null  object
 10  Produto            114241 non-null  object
 11  Data da Coleta     114241 non-null  object
 12  Valor de Venda     114241 non-null  object
 13  Valor de Compra    29325 non-null   object
 14  Unidade de Medida  114241 non-null  object
 15  Bandeira           114241 non-null  object
dtypes: object(16)
memory usage: 13.9+ MB

In [132]:
glp_2020_01['Valor de Venda'] = glp_2020_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2020_01['Valor de Compra'] = glp_2020_01['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [133]:
glp_2020_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114241 entries, 0 to 114240
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     114241 non-null  object
 1   Estado - Sigla     114241 non-null  object
 2   Municipio          114241 non-null  object
 3   Revenda            114241 non-null  object
 4   CNPJ da Revenda    114241 non-null  object
 5   Nome da Rua        114241 non-null  object
 6   Numero Rua         114224 non-null  object
 7   Complemento        27171 non-null   object
 8   Bairro             114241 non-null  object
 9   Cep                114241 non-null  object
 10  Produto            114241 non-null  object
 11  Data da Coleta     114241 non-null  object
 12  Valor de Venda     114241 non-null  float64
 13  Valor de Compra    29325 non-null   float64
 14  Unidade de Medida  114241 non-null  object
 15  Bandeira           114241 non-null  object
dtypes: float64(2), object(14)
memory usage: 13.9+ MB

In [134]:
glp_2020_02 = pd.read_csv("rsc/glp-2020-02.csv")

C:\Users\mclar\AppData\Local\Temp\ipykernel_21372\3586674522.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  glp_2020_02 = pd.read_csv("rsc/glp-2020-02.csv")

In [135]:
glp_2020_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45412 entries, 0 to 45411
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     45412 non-null  object
 1   Estado - Sigla     45412 non-null  object
 2   Municipio          45412 non-null  object
 3   Revenda            45412 non-null  object
 4   CNPJ da Revenda    45412 non-null  object
 5   Nome da Rua        45412 non-null  object
 6   Numero Rua         45406 non-null  object
 7   Complemento        11169 non-null  object
 8   Bairro             45412 non-null  object
 9   Cep                45412 non-null  object
 10  Produto            45412 non-null  object
 11  Data da Coleta     45412 non-null  object
 12  Valor de Venda     45412 non-null  object
 13  Valor de Compra    6141 non-null   object
 14  Unidade de Medida  45412 non-null  object
 15  Bandeira           45412 non-null  object
dtypes: object(16)
memory usage: 5.5+ MB

In [136]:
glp_2020_02['Valor de Venda'] = glp_2020_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)
glp_2020_02['Valor de Compra'] = glp_2020_02['Valor de Compra'].str.replace(',', '.', regex=True).astype(float)

In [137]:
glp_2020_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45412 entries, 0 to 45411
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     45412 non-null  object
 1   Estado - Sigla     45412 non-null  object
 2   Municipio          45412 non-null  object
 3   Revenda            45412 non-null  object
 4   CNPJ da Revenda    45412 non-null  object
 5   Nome da Rua        45412 non-null  object
 6   Numero Rua         45406 non-null  object
 7   Complemento        11169 non-null  object
 8   Bairro             45412 non-null  object
 9   Cep                45412 non-null  object
 10  Produto            45412 non-null  object
 11  Data da Coleta     45412 non-null  object
 12  Valor de Venda     45412 non-null  float64
 13  Valor de Compra    6141 non-null   float64
 14  Unidade de Medida  45412 non-null  object
 15  Bandeira           45412 non-null  object
dtypes: float64(2), object(14)
memory usage: 5.5+ MB

#### 2021

In [138]:
glp_2021_01 = pd.read_csv("rsc/glp-2021-01.csv", sep=';')

In [139]:
glp_2021_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60280 entries, 0 to 60279
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     60280 non-null  object
 1   Estado - Sigla     60280 non-null  object
 2   Municipio          60280 non-null  object
 3   Revenda            60280 non-null  object
 4   CNPJ da Revenda    60280 non-null  object
 5   Nome da Rua        60280 non-null  object
 6   Numero Rua         60280 non-null  object
 7   Complemento        14323 non-null  object
 8   Bairro             60280 non-null  object
 9   Cep                60280 non-null  object
 10  Produto            60280 non-null  object
 11  Data da Coleta     60280 non-null  object
 12  Valor de Venda     60280 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  60280 non-null  object
 15  Bandeira           60280 non-null  object
dtypes: float64(1), object(15)
memory usage: 7.4+ MB

In [140]:
glp_2021_01['Valor de Venda'] = glp_2021_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)

In [141]:
glp_2021_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60280 entries, 0 to 60279
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     60280 non-null  object
 1   Estado - Sigla     60280 non-null  object
 2   Municipio          60280 non-null  object
 3   Revenda            60280 non-null  object
 4   CNPJ da Revenda    60280 non-null  object
 5   Nome da Rua        60280 non-null  object
 6   Numero Rua         60280 non-null  object
 7   Complemento        14323 non-null  object
 8   Bairro             60280 non-null  object
 9   Cep                60280 non-null  object
 10  Produto            60280 non-null  object
 11  Data da Coleta     60280 non-null  object
 12  Valor de Venda     60280 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  60280 non-null  object
 15  Bandeira           60280 non-null  object
dtypes: float64(2), object(14)
memory usage: 7.4+ MB

In [142]:
glp_2021_02 = pd.read_csv("rsc/glp-2021-02.csv", sep=';')

In [143]:
glp_2021_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89372 entries, 0 to 89371
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     89372 non-null  object
 1   Estado - Sigla     89372 non-null  object
 2   Municipio          89372 non-null  object
 3   Revenda            89372 non-null  object
 4   CNPJ da Revenda    89372 non-null  object
 5   Nome da Rua        89372 non-null  object
 6   Numero Rua         89371 non-null  object
 7   Complemento        21059 non-null  object
 8   Bairro             89367 non-null  object
 9   Cep                89372 non-null  object
 10  Produto            89372 non-null  object
 11  Data da Coleta     89372 non-null  object
 12  Valor de Venda     89372 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  89372 non-null  object
 15  Bandeira           89372 non-null  object
dtypes: float64(1), object(15)
memory usage: 10.9+ MB

In [144]:
glp_2021_02['Valor de Venda'] = glp_2021_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)

In [145]:
glp_2021_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89372 entries, 0 to 89371
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     89372 non-null  object
 1   Estado - Sigla     89372 non-null  object
 2   Municipio          89372 non-null  object
 3   Revenda            89372 non-null  object
 4   CNPJ da Revenda    89372 non-null  object
 5   Nome da Rua        89372 non-null  object
 6   Numero Rua         89371 non-null  object
 7   Complemento        21059 non-null  object
 8   Bairro             89367 non-null  object
 9   Cep                89372 non-null  object
 10  Produto            89372 non-null  object
 11  Data da Coleta     89372 non-null  object
 12  Valor de Venda     89372 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  89372 non-null  object
 15  Bandeira           89372 non-null  object
dtypes: float64(2), object(14)
memory usage: 10.9+ MB

#### 2022

In [146]:
glp_2022_01 = pd.read_csv("rsc/glp-2022-01.csv", sep=';')

In [147]:
glp_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100133 entries, 0 to 100132
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     100133 non-null  object
 1   Estado - Sigla     100133 non-null  object
 2   Municipio          100133 non-null  object
 3   Revenda            100133 non-null  object
 4   CNPJ da Revenda    100133 non-null  object
 5   Nome da Rua        100133 non-null  object
 6   Numero Rua         100132 non-null  object
 7   Complemento        23989 non-null   object
 8   Bairro             100109 non-null  object
 9   Cep                100133 non-null  object
 10  Produto            100133 non-null  object
 11  Data da Coleta     100133 non-null  object
 12  Valor de Venda     100133 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  100133 non-null  object
 15  Bandeira           100133 non-null  object
dtypes: float64(1), object(15)
memory usage: 12.2+ MB

In [148]:
glp_2022_01['Valor de Venda'] = glp_2022_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)

In [149]:
glp_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100133 entries, 0 to 100132
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     100133 non-null  object
 1   Estado - Sigla     100133 non-null  object
 2   Municipio          100133 non-null  object
 3   Revenda            100133 non-null  object
 4   CNPJ da Revenda    100133 non-null  object
 5   Nome da Rua        100133 non-null  object
 6   Numero Rua         100132 non-null  object
 7   Complemento        23989 non-null   object
 8   Bairro             100109 non-null  object
 9   Cep                100133 non-null  object
 10  Produto            100133 non-null  object
 11  Data da Coleta     100133 non-null  object
 12  Valor de Venda     100133 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  100133 non-null  object
 15  Bandeira           100133 non-null  object
dtypes: float64(2), object(14)
memory usage: 12.2+ MB

In [150]:
glp_2022_02 = pd.read_csv("rsc/glp-2022-02.csv", sep=';')

In [151]:
glp_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100133 entries, 0 to 100132
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     100133 non-null  object
 1   Estado - Sigla     100133 non-null  object
 2   Municipio          100133 non-null  object
 3   Revenda            100133 non-null  object
 4   CNPJ da Revenda    100133 non-null  object
 5   Nome da Rua        100133 non-null  object
 6   Numero Rua         100132 non-null  object
 7   Complemento        23989 non-null   object
 8   Bairro             100109 non-null  object
 9   Cep                100133 non-null  object
 10  Produto            100133 non-null  object
 11  Data da Coleta     100133 non-null  object
 12  Valor de Venda     100133 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  100133 non-null  object
 15  Bandeira           100133 non-null  object
dtypes: float64(2), object(14)
memory usage: 12.2+ MB

In [152]:
glp_2022_02['Valor de Venda'] = glp_2022_02['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)

In [153]:
glp_2022_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100133 entries, 0 to 100132
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     100133 non-null  object
 1   Estado - Sigla     100133 non-null  object
 2   Municipio          100133 non-null  object
 3   Revenda            100133 non-null  object
 4   CNPJ da Revenda    100133 non-null  object
 5   Nome da Rua        100133 non-null  object
 6   Numero Rua         100132 non-null  object
 7   Complemento        23989 non-null   object
 8   Bairro             100109 non-null  object
 9   Cep                100133 non-null  object
 10  Produto            100133 non-null  object
 11  Data da Coleta     100133 non-null  object
 12  Valor de Venda     100133 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  100133 non-null  object
 15  Bandeira           100133 non-null  object
dtypes: float64(2), object(14)
memory usage: 12.2+ MB

#### 2023

In [154]:
glp_2023_01 = pd.read_csv("rsc/glp-2023-01.csv", sep=';')

In [155]:
glp_2023_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105341 entries, 0 to 105340
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     105341 non-null  object
 1   Estado - Sigla     105341 non-null  object
 2   Municipio          105341 non-null  object
 3   Revenda            105341 non-null  object
 4   CNPJ da Revenda    105341 non-null  object
 5   Nome da Rua        105341 non-null  object
 6   Numero Rua         105341 non-null  object
 7   Complemento        26414 non-null   object
 8   Bairro             105323 non-null  object
 9   Cep                105341 non-null  object
 10  Produto            105341 non-null  object
 11  Data da Coleta     105341 non-null  object
 12  Valor de Venda     105341 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  105341 non-null  object
 15  Bandeira           105341 non-null  object
dtypes: float64(1), object(15)
memory usage: 12.9+ MB

In [156]:
glp_2023_01['Valor de Venda'] = glp_2023_01['Valor de Venda'].str.replace(",", ".", regex=True).astype(float)

In [157]:
glp_2023_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105341 entries, 0 to 105340
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     105341 non-null  object
 1   Estado - Sigla     105341 non-null  object
 2   Municipio          105341 non-null  object
 3   Revenda            105341 non-null  object
 4   CNPJ da Revenda    105341 non-null  object
 5   Nome da Rua        105341 non-null  object
 6   Numero Rua         105341 non-null  object
 7   Complemento        26414 non-null   object
 8   Bairro             105323 non-null  object
 9   Cep                105341 non-null  object
 10  Produto            105341 non-null  object
 11  Data da Coleta     105341 non-null  object
 12  Valor de Venda     105341 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  105341 non-null  object
 15  Bandeira           105341 non-null  object
dtypes: float64(2), object(14)
memory usage: 12.9+ MB

#### Concatenao de anos

In [158]:
glp_2004 = pd.concat([glp_2004_01, glp_2004_02])
caminho_04 = 'anos_concatenados/glp_2004.csv'
glp_2004.to_csv(caminho_04, index=False)

In [159]:
glp_2005 = pd.concat([glp_2005_01, glp_2005_02])
caminho_05 = 'anos_concatenados/glp_2005.csv'
glp_2005.to_csv(caminho_05, index=False)

In [160]:
glp_2006 = pd.concat([glp_2006_01, glp_2006_02])
caminho_06 = 'anos_concatenados/glp_2006.csv'
glp_2006.to_csv(caminho_06, index=False)

In [161]:
glp_2007 = pd.concat([glp_2007_01, glp_2007_02])
caminho_07 = 'anos_concatenados/glp_2007.csv'
glp_2007.to_csv(caminho_07, index=False)

In [162]:
glp_2008 = pd.concat([glp_2008_01, glp_2008_02])
caminho_08 = 'anos_concatenados/glp_2008.csv'
glp_2008.to_csv(caminho_08, index=False)

In [163]:
glp_2009 = pd.concat([glp_2009_01, glp_2009_02])
caminho_09 = 'anos_concatenados/glp_2009.csv'
glp_2009.to_csv(caminho_09, index=False)

In [164]:
glp_2010 = pd.concat([glp_2010_01, glp_2010_02])
caminho_10 = 'anos_concatenados/glp_2010.csv'
glp_2010.to_csv(caminho_10, index=False)

In [165]:
glp_2011 = pd.concat([glp_2011_01, glp_2011_02])
caminho_11 = 'anos_concatenados/glp_2011.csv'
glp_2011.to_csv(caminho_11, index=False)

In [166]:
glp_2012 = pd.concat([glp_2012_01, glp_2012_02])
caminho_12 = 'anos_concatenados/glp_2012.csv'
glp_2012.to_csv(caminho_12, index=False)

In [167]:
glp_2013 = pd.concat([glp_2013_01, glp_2013_02])
caminho_13 = 'anos_concatenados/glp_2013.csv'
glp_2013.to_csv(caminho_13, index=False)

In [168]:
glp_2014 = pd.concat([glp_2014_01, glp_2014_02])
caminho_14 = 'anos_concatenados/glp_2014.csv'
glp_2014.to_csv(caminho_14, index=False)

In [169]:
glp_2015 = pd.concat([glp_2015_01, glp_2015_02])
caminho_15 = 'anos_concatenados/glp_2015.csv'
glp_2015.to_csv(caminho_15, index=False)

In [170]:
glp_2016 = pd.concat([glp_2016_01, glp_2016_02])
caminho_16 = 'anos_concatenados/glp_2016.csv'
glp_2016.to_csv(caminho_16, index=False)

In [171]:
glp_2017 = pd.concat([glp_2017_01, glp_2017_02])
caminho_17 = 'anos_concatenados/glp_2017.csv'
glp_2017.to_csv(caminho_17, index=False)

In [172]:
glp_2018 = pd.concat([glp_2018_01, glp_2018_02])
caminho_18 = 'anos_concatenados/glp_2018.csv'
glp_2018.to_csv(caminho_18, index=False)

In [173]:
glp_2019 = pd.concat([glp_2019_01, glp_2019_02])
caminho_19 = 'anos_concatenados/glp_2019.csv'
glp_2019.to_csv(caminho_19, index=False)

In [174]:
glp_2020 = pd.concat([glp_2020_01, glp_2020_02])
caminho_20 = 'anos_concatenados/glp_2020.csv'
glp_2020.to_csv(caminho_20, index=False)

In [175]:
glp_2021 = pd.concat([glp_2021_01, glp_2021_02])
caminho_21 = 'anos_concatenados/glp_2021.csv'
glp_2021.to_csv(caminho_21, index=False)

In [176]:
glp_2022 = pd.concat([glp_2022_01, glp_2022_02])
caminho_22 = 'anos_concatenados/glp_2022.csv'
glp_2022.to_csv(caminho_22, index=False)

In [177]:
caminho_23 = 'anos_concatenados/glp_2023.csv'
glp_2023_01.to_csv(caminho_23, index=False)