In [2]:
import pandas as pd

In [3]:
import openpyxl

In [4]:
# 2007

In [5]:
dt_2007 = pd.read_csv('dataset/Leitos_2007.csv')

In [6]:
dt_2007.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,200707,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,200708,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,200709,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,200710,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,200711,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [7]:
dt_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44221 entries, 0 to 44220
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     44221 non-null  int64
 1   REGIAO                   44221 non-null  object
 2   UF                       44221 non-null  object
 3   MUNICIPIO                44221 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     44221 non-null  int64
 6   NOME ESTABELECIMENTO     44221 non-null  object
 7   RAZAO SOCIAL             44221 non-null  object
 8   TP_GESTAO                44221 non-null  object
 9   CO_TIPO_UNIDADE          44221 non-null  int64
 10  DS_TIPO_UNIDADE          44221 non-null  object
 11  NATUREZA_JURIDICA        44221 non-null  int64
 12  DESC_NATUREZA_JURIDICA   44221 non-null  object
 13  NO_LOGRADOURO            44221 non-null  object
 14  NU_ENDERECO              44179 non-null  object
 15  NO_COMPLEMENTO           5280 non-null   object
 16  NO_BAIRRO                44221 non-null  object
 17  CO_CEP                   44221 non-null  int64
 18  NU_TELEFONE              42451 non-null  object
 19  NO_EMAIL                 19613 non-null  object
 20  LEITOS EXISTENTE         44221 non-null  int64
 21  LEITOS SUS               44209 non-null  float64
 22  UTI TOTAL - EXIST        44221 non-null  int64
 23  UTI TOTAL - SUS          44221 non-null  int64
 24  UTI ADULTO - EXIST       44221 non-null  int64
 25  UTI ADULTO - SUS         44221 non-null  int64
 26  UTI PEDIATRICO - EXIST   44221 non-null  int64
 27  UTI PEDIATRICO - SUS     44221 non-null  int64
 28  UTI NEONATAL - EXIST     44221 non-null  int64
 29  UTI NEONATAL - SUS       44221 non-null  int64
 30  UTI QUEIMADO - EXIST     44221 non-null  int64
 31  UTI QUEIMADO - SUS       44221 non-null  int64
 32  UTI CORONARIANA - EXIST  44221 non-null  int64
 33  UTI CORONARIANA - SUS    44221 non-null  int64
dtypes: float64(2), int64(18), object(14)
memory usage: 11.5+ MB

In [8]:
dt_2007.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [9]:
dt_2007["UTI PEDIATRICO - SUS"].unique()

array([ 0,  4,  7,  8, 12,  5,  2, 34,  3,  6, 11, 20, 19,  9,  1, 16, 10,
       15], dtype=int64)

In [10]:
dt_2007['UTI NEONATAL - SUS'].head()

0    0
1    0
2    0
3    0
4    0
Name: UTI NEONATAL - SUS, dtype: int64

In [11]:
dt_2007['REGIAO'].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [12]:
dt_2007['UF'].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [13]:
# 2008

In [14]:
dt_2008 = pd.read_csv('dataset/Leitos_2008.csv')

In [15]:
dt_2008.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,200801,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,200802,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,200803,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,200804,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,200805,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [16]:
dt_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88274 entries, 0 to 88273
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     88274 non-null  int64
 1   REGIAO                   88274 non-null  object
 2   UF                       88274 non-null  object
 3   MUNICIPIO                88274 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     88274 non-null  int64
 6   NOME ESTABELECIMENTO     88274 non-null  object
 7   RAZAO SOCIAL             88274 non-null  object
 8   TP_GESTAO                88274 non-null  object
 9   CO_TIPO_UNIDADE          88274 non-null  int64
 10  DS_TIPO_UNIDADE          88274 non-null  object
 11  NATUREZA_JURIDICA        88274 non-null  int64
 12  DESC_NATUREZA_JURIDICA   88274 non-null  object
 13  NO_LOGRADOURO            88274 non-null  object
 14  NU_ENDERECO              88226 non-null  object
 15  NO_COMPLEMENTO           11339 non-null  object
 16  NO_BAIRRO                88274 non-null  object
 17  CO_CEP                   88274 non-null  int64
 18  NU_TELEFONE              84681 non-null  object
 19  NO_EMAIL                 41214 non-null  object
 20  LEITOS EXISTENTE         88274 non-null  int64
 21  LEITOS SUS               88262 non-null  float64
 22  UTI TOTAL - EXIST        88274 non-null  int64
 23  UTI TOTAL - SUS          88274 non-null  int64
 24  UTI ADULTO - EXIST       88274 non-null  int64
 25  UTI ADULTO - SUS         88274 non-null  int64
 26  UTI PEDIATRICO - EXIST   88274 non-null  int64
 27  UTI PEDIATRICO - SUS     88274 non-null  int64
 28  UTI NEONATAL - EXIST     88274 non-null  int64
 29  UTI NEONATAL - SUS       88274 non-null  int64
 30  UTI QUEIMADO - EXIST     88274 non-null  int64
 31  UTI QUEIMADO - SUS       88274 non-null  int64
 32  UTI CORONARIANA - EXIST  88274 non-null  int64
 33  UTI CORONARIANA - SUS    88274 non-null  int64
dtypes: float64(2), int64(18), object(14)
memory usage: 22.9+ MB

In [17]:
dt_2008.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [18]:
dt_2008['UTI TOTAL - EXIST'].head()

0    0
1    0
2    0
3    0
4    0
Name: UTI TOTAL - EXIST, dtype: int64

In [19]:
dt_2008['REGIAO'].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [20]:
dt_2008['UF'].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [21]:
# 2009

In [22]:
dt_2009 = pd.read_csv("dataset/Leitos_2009.csv")

In [23]:
dt_2009.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,200901,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,200902,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,200903,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,200904,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,200905,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [24]:
dt_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89094 entries, 0 to 89093
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     89094 non-null  int64
 1   REGIAO                   89094 non-null  object
 2   UF                       89094 non-null  object
 3   MUNICIPIO                89094 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     89094 non-null  int64
 6   NOME ESTABELECIMENTO     89094 non-null  object
 7   RAZAO SOCIAL             89094 non-null  object
 8   TP_GESTAO                89094 non-null  object
 9   CO_TIPO_UNIDADE          89094 non-null  int64
 10  DS_TIPO_UNIDADE          89094 non-null  object
 11  NATUREZA_JURIDICA        89094 non-null  int64
 12  DESC_NATUREZA_JURIDICA   89094 non-null  object
 13  NO_LOGRADOURO            89094 non-null  object
 14  NU_ENDERECO              89034 non-null  object
 15  NO_COMPLEMENTO           12008 non-null  object
 16  NO_BAIRRO                89094 non-null  object
 17  CO_CEP                   89094 non-null  int64
 18  NU_TELEFONE              85357 non-null  object
 19  NO_EMAIL                 44184 non-null  object
 20  LEITOS EXISTENTE         89094 non-null  int64
 21  LEITOS SUS               89082 non-null  float64
 22  UTI TOTAL - EXIST        89094 non-null  int64
 23  UTI TOTAL - SUS          89094 non-null  int64
 24  UTI ADULTO - EXIST       89094 non-null  int64
 25  UTI ADULTO - SUS         89094 non-null  int64
 26  UTI PEDIATRICO - EXIST   89094 non-null  int64
 27  UTI PEDIATRICO - SUS     89094 non-null  int64
 28  UTI NEONATAL - EXIST     89094 non-null  int64
 29  UTI NEONATAL - SUS       89094 non-null  int64
 30  UTI QUEIMADO - EXIST     89094 non-null  int64
 31  UTI QUEIMADO - SUS       89094 non-null  int64
 32  UTI CORONARIANA - EXIST  89094 non-null  int64
 33  UTI CORONARIANA - SUS    89094 non-null  int64
dtypes: float64(2), int64(18), object(14)
memory usage: 23.1+ MB

In [25]:
dt_2009.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [26]:
dt_2009['REGIAO'].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [27]:
dt_2009['UF'].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [28]:
# 2010

In [29]:
dt_2010 = pd.read_csv("dataset/Leitos_2010.csv")

In [30]:
dt_2010.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201001,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201002,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201003,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201004,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201005,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [31]:
dt_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89128 entries, 0 to 89127
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     89128 non-null  int64
 1   REGIAO                   89128 non-null  object
 2   UF                       89128 non-null  object
 3   MUNICIPIO                89128 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     89128 non-null  int64
 6   NOME ESTABELECIMENTO     89128 non-null  object
 7   RAZAO SOCIAL             89128 non-null  object
 8   TP_GESTAO                89128 non-null  object
 9   CO_TIPO_UNIDADE          89128 non-null  int64
 10  DS_TIPO_UNIDADE          89128 non-null  object
 11  NATUREZA_JURIDICA        89128 non-null  int64
 12  DESC_NATUREZA_JURIDICA   89128 non-null  object
 13  NO_LOGRADOURO            89128 non-null  object
 14  NU_ENDERECO              89076 non-null  object
 15  NO_COMPLEMENTO           12161 non-null  object
 16  NO_BAIRRO                89128 non-null  object
 17  CO_CEP                   89128 non-null  int64
 18  NU_TELEFONE              85336 non-null  object
 19  NO_EMAIL                 46168 non-null  object
 20  LEITOS EXISTENTE         89128 non-null  int64
 21  LEITOS SUS               89116 non-null  float64
 22  UTI TOTAL - EXIST        89128 non-null  int64
 23  UTI TOTAL - SUS          89128 non-null  int64
 24  UTI ADULTO - EXIST       89128 non-null  int64
 25  UTI ADULTO - SUS         89128 non-null  int64
 26  UTI PEDIATRICO - EXIST   89128 non-null  int64
 27  UTI PEDIATRICO - SUS     89128 non-null  int64
 28  UTI NEONATAL - EXIST     89128 non-null  int64
 29  UTI NEONATAL - SUS       89128 non-null  int64
 30  UTI QUEIMADO - EXIST     89128 non-null  int64
 31  UTI QUEIMADO - SUS       89128 non-null  int64
 32  UTI CORONARIANA - EXIST  89128 non-null  int64
 33  UTI CORONARIANA - SUS    89128 non-null  int64
dtypes: float64(2), int64(18), object(14)
memory usage: 23.1+ MB

In [32]:
dt_2010.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [33]:
dt_2010["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [34]:
dt_2010["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [35]:
# 2011

In [36]:
dt_2011 = pd.read_csv("dataset/Leitos_2011.csv")

In [37]:
dt_2011.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201101,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201102,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201103,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201104,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201105,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [38]:
dt_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88227 entries, 0 to 88226
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     88227 non-null  int64
 1   REGIAO                   88227 non-null  object
 2   UF                       88227 non-null  object
 3   MUNICIPIO                88227 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     88227 non-null  int64
 6   NOME ESTABELECIMENTO     88227 non-null  object
 7   RAZAO SOCIAL             88227 non-null  object
 8   TP_GESTAO                88227 non-null  object
 9   CO_TIPO_UNIDADE          88227 non-null  int64
 10  DS_TIPO_UNIDADE          88227 non-null  object
 11  NATUREZA_JURIDICA        88227 non-null  int64
 12  DESC_NATUREZA_JURIDICA   88227 non-null  object
 13  NO_LOGRADOURO            88227 non-null  object
 14  NU_ENDERECO              88179 non-null  object
 15  NO_COMPLEMENTO           12289 non-null  object
 16  NO_BAIRRO                88227 non-null  object
 17  CO_CEP                   88227 non-null  int64
 18  NU_TELEFONE              84468 non-null  object
 19  NO_EMAIL                 48188 non-null  object
 20  LEITOS EXISTENTE         88227 non-null  int64
 21  LEITOS SUS               88222 non-null  float64
 22  UTI TOTAL - EXIST        88227 non-null  int64
 23  UTI TOTAL - SUS          88227 non-null  int64
 24  UTI ADULTO - EXIST       88227 non-null  int64
 25  UTI ADULTO - SUS         88227 non-null  int64
 26  UTI PEDIATRICO - EXIST   88227 non-null  int64
 27  UTI PEDIATRICO - SUS     88227 non-null  int64
 28  UTI NEONATAL - EXIST     88227 non-null  int64
 29  UTI NEONATAL - SUS       88227 non-null  int64
 30  UTI QUEIMADO - EXIST     88227 non-null  int64
 31  UTI QUEIMADO - SUS       88227 non-null  int64
 32  UTI CORONARIANA - EXIST  88227 non-null  int64
 33  UTI CORONARIANA - SUS    88227 non-null  int64
dtypes: float64(2), int64(18), object(14)
memory usage: 22.9+ MB

In [39]:
dt_2011.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [40]:
dt_2011["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [41]:
dt_2011["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [42]:
# 2012

In [43]:
dt_2012 = pd.read_csv("dataset/Leitos_2012.csv")

In [44]:
dt_2012.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201201,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201202,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201203,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201204,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201205,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [45]:
dt_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87083 entries, 0 to 87082
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     87083 non-null  int64
 1   REGIAO                   87083 non-null  object
 2   UF                       87083 non-null  object
 3   MUNICIPIO                87083 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     87083 non-null  int64
 6   NOME ESTABELECIMENTO     87083 non-null  object
 7   RAZAO SOCIAL             87083 non-null  object
 8   TP_GESTAO                87083 non-null  object
 9   CO_TIPO_UNIDADE          87083 non-null  int64
 10  DS_TIPO_UNIDADE          87083 non-null  object
 11  NATUREZA_JURIDICA        87083 non-null  int64
 12  DESC_NATUREZA_JURIDICA   87065 non-null  object
 13  NO_LOGRADOURO            87083 non-null  object
 14  NU_ENDERECO              87053 non-null  object
 15  NO_COMPLEMENTO           12484 non-null  object
 16  NO_BAIRRO                87083 non-null  object
 17  CO_CEP                   87083 non-null  int64
 18  NU_TELEFONE              83276 non-null  object
 19  NO_EMAIL                 49478 non-null  object
 20  LEITOS EXISTENTE         87083 non-null  int64
 21  LEITOS SUS               87083 non-null  int64
 22  UTI TOTAL - EXIST        87083 non-null  int64
 23  UTI TOTAL - SUS          87083 non-null  int64
 24  UTI ADULTO - EXIST       87083 non-null  int64
 25  UTI ADULTO - SUS         87083 non-null  int64
 26  UTI PEDIATRICO - EXIST   87083 non-null  int64
 27  UTI PEDIATRICO - SUS     87083 non-null  int64
 28  UTI NEONATAL - EXIST     87083 non-null  int64
 29  UTI NEONATAL - SUS       87083 non-null  int64
 30  UTI QUEIMADO - EXIST     87083 non-null  int64
 31  UTI QUEIMADO - SUS       87083 non-null  int64
 32  UTI CORONARIANA - EXIST  87083 non-null  int64
 33  UTI CORONARIANA - SUS    87083 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 22.6+ MB

In [46]:
dt_2012.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [47]:
dt_2012["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [48]:
dt_2012["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [49]:
# 2013

In [50]:
dt_2013 = pd.read_csv("dataset/Leitos_2013.csv")

In [51]:
dt_2013.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201302,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201303,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201304,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201305,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [52]:
dt_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86183 entries, 0 to 86182
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     86183 non-null  int64
 1   REGIAO                   86183 non-null  object
 2   UF                       86183 non-null  object
 3   MUNICIPIO                86183 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     86183 non-null  int64
 6   NOME ESTABELECIMENTO     86183 non-null  object
 7   RAZAO SOCIAL             86183 non-null  object
 8   TP_GESTAO                86183 non-null  object
 9   CO_TIPO_UNIDADE          86183 non-null  int64
 10  DS_TIPO_UNIDADE          86183 non-null  object
 11  NATUREZA_JURIDICA        86183 non-null  int64
 12  DESC_NATUREZA_JURIDICA   86167 non-null  object
 13  NO_LOGRADOURO            86183 non-null  object
 14  NU_ENDERECO              86159 non-null  object
 15  NO_COMPLEMENTO           12777 non-null  object
 16  NO_BAIRRO                86183 non-null  object
 17  CO_CEP                   86183 non-null  int64
 18  NU_TELEFONE              82320 non-null  object
 19  NO_EMAIL                 50752 non-null  object
 20  LEITOS EXISTENTE         86183 non-null  int64
 21  LEITOS SUS               86183 non-null  int64
 22  UTI TOTAL - EXIST        86183 non-null  int64
 23  UTI TOTAL - SUS          86183 non-null  int64
 24  UTI ADULTO - EXIST       86183 non-null  int64
 25  UTI ADULTO - SUS         86183 non-null  int64
 26  UTI PEDIATRICO - EXIST   86183 non-null  int64
 27  UTI PEDIATRICO - SUS     86183 non-null  int64
 28  UTI NEONATAL - EXIST     86183 non-null  int64
 29  UTI NEONATAL - SUS       86183 non-null  int64
 30  UTI QUEIMADO - EXIST     86183 non-null  int64
 31  UTI QUEIMADO - SUS       86183 non-null  int64
 32  UTI CORONARIANA - EXIST  86183 non-null  int64
 33  UTI CORONARIANA - SUS    86183 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 22.4+ MB

In [53]:
dt_2013["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [54]:
dt_2013["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [55]:
# 2014

In [56]:
dt_2014 = pd.read_csv("dataset/Leitos_2014.csv")

In [57]:
dt_2014.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201401,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201402,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201403,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201404,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201405,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [58]:
dt_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86133 entries, 0 to 86132
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     86133 non-null  int64
 1   REGIAO                   86133 non-null  object
 2   UF                       86133 non-null  object
 3   MUNICIPIO                86133 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     86133 non-null  int64
 6   NOME ESTABELECIMENTO     86133 non-null  object
 7   RAZAO SOCIAL             86133 non-null  object
 8   TP_GESTAO                86133 non-null  object
 9   CO_TIPO_UNIDADE          86133 non-null  int64
 10  DS_TIPO_UNIDADE          86133 non-null  object
 11  NATUREZA_JURIDICA        86133 non-null  int64
 12  DESC_NATUREZA_JURIDICA   86121 non-null  object
 13  NO_LOGRADOURO            86133 non-null  object
 14  NU_ENDERECO              86109 non-null  object
 15  NO_COMPLEMENTO           13175 non-null  object
 16  NO_BAIRRO                86133 non-null  object
 17  CO_CEP                   86133 non-null  int64
 18  NU_TELEFONE              81956 non-null  object
 19  NO_EMAIL                 52542 non-null  object
 20  LEITOS EXISTENTE         86133 non-null  int64
 21  LEITOS SUS               86133 non-null  int64
 22  UTI TOTAL - EXIST        86133 non-null  int64
 23  UTI TOTAL - SUS          86133 non-null  int64
 24  UTI ADULTO - EXIST       86133 non-null  int64
 25  UTI ADULTO - SUS         86133 non-null  int64
 26  UTI PEDIATRICO - EXIST   86133 non-null  int64
 27  UTI PEDIATRICO - SUS     86133 non-null  int64
 28  UTI NEONATAL - EXIST     86133 non-null  int64
 29  UTI NEONATAL - SUS       86133 non-null  int64
 30  UTI QUEIMADO - EXIST     86133 non-null  int64
 31  UTI QUEIMADO - SUS       86133 non-null  int64
 32  UTI CORONARIANA - EXIST  86133 non-null  int64
 33  UTI CORONARIANA - SUS    86133 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 22.3+ MB

In [59]:
dt_2014.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [60]:
dt_2014["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [61]:
dt_2014["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PI', 'PB', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [62]:
# 2015

In [63]:
dt_2015 = pd.read_csv("dataset/Leitos_2015.csv")

In [64]:
dt_2015.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201501,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201502,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201503,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201504,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201505,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [65]:
dt_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83558 entries, 0 to 83557
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     83558 non-null  int64
 1   REGIAO                   83558 non-null  object
 2   UF                       83558 non-null  object
 3   MUNICIPIO                83558 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     83558 non-null  int64
 6   NOME ESTABELECIMENTO     83558 non-null  object
 7   RAZAO SOCIAL             83558 non-null  object
 8   TP_GESTAO                83558 non-null  object
 9   CO_TIPO_UNIDADE          83558 non-null  int64
 10  DS_TIPO_UNIDADE          83558 non-null  object
 11  NATUREZA_JURIDICA        83558 non-null  int64
 12  DESC_NATUREZA_JURIDICA   83557 non-null  object
 13  NO_LOGRADOURO            83558 non-null  object
 14  NU_ENDERECO              83558 non-null  object
 15  NO_COMPLEMENTO           12887 non-null  object
 16  NO_BAIRRO                83558 non-null  object
 17  CO_CEP                   83558 non-null  int64
 18  NU_TELEFONE              79359 non-null  object
 19  NO_EMAIL                 52091 non-null  object
 20  LEITOS EXISTENTE         83558 non-null  int64
 21  LEITOS SUS               83558 non-null  int64
 22  UTI TOTAL - EXIST        83558 non-null  int64
 23  UTI TOTAL - SUS          83558 non-null  int64
 24  UTI ADULTO - EXIST       83558 non-null  int64
 25  UTI ADULTO - SUS         83558 non-null  int64
 26  UTI PEDIATRICO - EXIST   83558 non-null  int64
 27  UTI PEDIATRICO - SUS     83558 non-null  int64
 28  UTI NEONATAL - EXIST     83558 non-null  int64
 29  UTI NEONATAL - SUS       83558 non-null  int64
 30  UTI QUEIMADO - EXIST     83558 non-null  int64
 31  UTI QUEIMADO - SUS       83558 non-null  int64
 32  UTI CORONARIANA - EXIST  83558 non-null  int64
 33  UTI CORONARIANA - SUS    83558 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 21.7+ MB

In [66]:
dt_2015.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [67]:
dt_2015["UTI PEDIATRICO - SUS"].unique()

array([ 0, 16, 22, 10,  7, 11,  5,  4,  6,  8,  3,  2, 13, 34, 18, 20,  1,
        9, 14, 23, 19, 51, 15, 28, 12, 29], dtype=int64)

In [68]:
dt_2015["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [69]:
dt_2015["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PB', 'PI', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [70]:
# 2016

In [71]:
dt_2016 = pd.read_csv("dataset/Leitos_2016.csv")

In [72]:
dt_2016.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201601,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201602,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201603,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201604,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201605,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [73]:
dt_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83086 entries, 0 to 83085
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     83086 non-null  int64
 1   REGIAO                   83086 non-null  object
 2   UF                       83086 non-null  object
 3   MUNICIPIO                83086 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     83086 non-null  int64
 6   NOME ESTABELECIMENTO     83086 non-null  object
 7   RAZAO SOCIAL             83086 non-null  object
 8   TP_GESTAO                83086 non-null  object
 9   CO_TIPO_UNIDADE          83086 non-null  int64
 10  DS_TIPO_UNIDADE          83086 non-null  object
 11  NATUREZA_JURIDICA        83086 non-null  int64
 12  DESC_NATUREZA_JURIDICA   83086 non-null  object
 13  NO_LOGRADOURO            83086 non-null  object
 14  NU_ENDERECO              83086 non-null  object
 15  NO_COMPLEMENTO           12965 non-null  object
 16  NO_BAIRRO                83086 non-null  object
 17  CO_CEP                   83086 non-null  int64
 18  NU_TELEFONE              78543 non-null  object
 19  NO_EMAIL                 52409 non-null  object
 20  LEITOS EXISTENTE         83086 non-null  int64
 21  LEITOS SUS               83086 non-null  int64
 22  UTI TOTAL - EXIST        83086 non-null  int64
 23  UTI TOTAL - SUS          83086 non-null  int64
 24  UTI ADULTO - EXIST       83086 non-null  int64
 25  UTI ADULTO - SUS         83086 non-null  int64
 26  UTI PEDIATRICO - EXIST   83086 non-null  int64
 27  UTI PEDIATRICO - SUS     83086 non-null  int64
 28  UTI NEONATAL - EXIST     83086 non-null  int64
 29  UTI NEONATAL - SUS       83086 non-null  int64
 30  UTI QUEIMADO - EXIST     83086 non-null  int64
 31  UTI QUEIMADO - SUS       83086 non-null  int64
 32  UTI CORONARIANA - EXIST  83086 non-null  int64
 33  UTI CORONARIANA - SUS    83086 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 21.6+ MB

In [74]:
dt_2016.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [75]:
dt_2016["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [76]:
dt_2016["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PB', 'PI', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [77]:
# 2017

In [78]:
dt_2017 = pd.read_csv("dataset/Leitos_2017.csv")

In [79]:
dt_2017.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201701,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201702,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201703,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201704,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201705,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [80]:
dt_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83284 entries, 0 to 83283
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     83284 non-null  int64
 1   REGIAO                   83284 non-null  object
 2   UF                       83284 non-null  object
 3   MUNICIPIO                83284 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     83284 non-null  int64
 6   NOME ESTABELECIMENTO     83284 non-null  object
 7   RAZAO SOCIAL             83284 non-null  object
 8   TP_GESTAO                83284 non-null  object
 9   CO_TIPO_UNIDADE          83284 non-null  int64
 10  DS_TIPO_UNIDADE          83284 non-null  object
 11  NATUREZA_JURIDICA        83284 non-null  int64
 12  DESC_NATUREZA_JURIDICA   83284 non-null  object
 13  NO_LOGRADOURO            83284 non-null  object
 14  NU_ENDERECO              83284 non-null  object
 15  NO_COMPLEMENTO           13389 non-null  object
 16  NO_BAIRRO                83284 non-null  object
 17  CO_CEP                   83284 non-null  int64
 18  NU_TELEFONE              77880 non-null  object
 19  NO_EMAIL                 52623 non-null  object
 20  LEITOS EXISTENTE         83284 non-null  int64
 21  LEITOS SUS               83284 non-null  int64
 22  UTI TOTAL - EXIST        83284 non-null  int64
 23  UTI TOTAL - SUS          83284 non-null  int64
 24  UTI ADULTO - EXIST       83284 non-null  int64
 25  UTI ADULTO - SUS         83284 non-null  int64
 26  UTI PEDIATRICO - EXIST   83284 non-null  int64
 27  UTI PEDIATRICO - SUS     83284 non-null  int64
 28  UTI NEONATAL - EXIST     83284 non-null  int64
 29  UTI NEONATAL - SUS       83284 non-null  int64
 30  UTI QUEIMADO - EXIST     83284 non-null  int64
 31  UTI QUEIMADO - SUS       83284 non-null  int64
 32  UTI CORONARIANA - EXIST  83284 non-null  int64
 33  UTI CORONARIANA - SUS    83284 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 21.6+ MB

In [81]:
dt_2017.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [82]:
dt_2017["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [83]:
dt_2017["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PB', 'PI', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [84]:
# 2018

In [85]:
dt_2018 = pd.read_csv('dataset/Leitos_2018.csv', on_bad_lines='skip') # erro no arquivo

In [86]:
dt_2018.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201801.0,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27.0,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201802.0,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27.0,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201803.0,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27.0,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,201804.0,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27.0,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,201805.0,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27.0,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
dt_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82963 entries, 0 to 82962
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     82832 non-null  float64
 1   REGIAO                   82832 non-null  object
 2   UF                       82832 non-null  object
 3   MUNICIPIO                82832 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     82832 non-null  float64
 6   NOME ESTABELECIMENTO     82832 non-null  object
 7   RAZAO SOCIAL             82832 non-null  object
 8   TP_GESTAO                82832 non-null  object
 9   CO_TIPO_UNIDADE          82832 non-null  float64
 10  DS_TIPO_UNIDADE          82832 non-null  object
 11  NATUREZA_JURIDICA        82832 non-null  float64
 12  DESC_NATUREZA_JURIDICA   82832 non-null  object
 13  NO_LOGRADOURO            82832 non-null  object
 14  NU_ENDERECO              82832 non-null  object
 15  NO_COMPLEMENTO           13658 non-null  object
 16  NO_BAIRRO                82832 non-null  object
 17  CO_CEP                   82832 non-null  float64
 18  NU_TELEFONE              76531 non-null  object
 19  NO_EMAIL                 52640 non-null  object
 20  LEITOS EXISTENTE         82701 non-null  float64
 21  LEITOS SUS               82820 non-null  float64
 22  UTI TOTAL - EXIST        82832 non-null  float64
 23  UTI TOTAL - SUS          82832 non-null  float64
 24  UTI ADULTO - EXIST       82832 non-null  float64
 25  UTI ADULTO - SUS         82832 non-null  float64
 26  UTI PEDIATRICO - EXIST   82832 non-null  float64
 27  UTI PEDIATRICO - SUS     82832 non-null  float64
 28  UTI NEONATAL - EXIST     82832 non-null  float64
 29  UTI NEONATAL - SUS       82832 non-null  float64
 30  UTI QUEIMADO - EXIST     82832 non-null  float64
 31  UTI QUEIMADO - SUS       82832 non-null  float64
 32  UTI CORONARIANA - EXIST  82832 non-null  float64
 33  UTI CORONARIANA - SUS    82701 non-null  float64
dtypes: float64(20), object(14)
memory usage: 21.5+ MB

In [88]:
dt_2018.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [89]:
dt_2018["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL', nan],
      dtype=object)

In [90]:
dt_2018["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', nan, 'RS', 'MA', 'MT', 'PB', 'PI',
       'RR', 'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [91]:
# 2019

In [92]:
dt_2019 = pd.read_csv("dataset/Leitos_2019.csv")

In [93]:
dt_2019.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,201901,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,201902,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,201903,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,201904,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,201905,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [94]:
dt_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81559 entries, 0 to 81558
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     81559 non-null  int64
 1   REGIAO                   81559 non-null  object
 2   UF                       81559 non-null  object
 3   MUNICIPIO                81559 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     81559 non-null  int64
 6   NOME ESTABELECIMENTO     81559 non-null  object
 7   RAZAO SOCIAL             81559 non-null  object
 8   TP_GESTAO                81559 non-null  object
 9   CO_TIPO_UNIDADE          81559 non-null  int64
 10  DS_TIPO_UNIDADE          81559 non-null  object
 11  NATUREZA_JURIDICA        81559 non-null  int64
 12  DESC_NATUREZA_JURIDICA   81559 non-null  object
 13  NO_LOGRADOURO            81559 non-null  object
 14  NU_ENDERECO              81559 non-null  object
 15  NO_COMPLEMENTO           13737 non-null  object
 16  NO_BAIRRO                81559 non-null  object
 17  CO_CEP                   81559 non-null  int64
 18  NU_TELEFONE              74589 non-null  object
 19  NO_EMAIL                 52516 non-null  object
 20  LEITOS EXISTENTE         81559 non-null  int64
 21  LEITOS SUS               81559 non-null  int64
 22  UTI TOTAL - EXIST        81559 non-null  int64
 23  UTI TOTAL - SUS          81559 non-null  int64
 24  UTI ADULTO - EXIST       81559 non-null  int64
 25  UTI ADULTO - SUS         81559 non-null  int64
 26  UTI PEDIATRICO - EXIST   81559 non-null  int64
 27  UTI PEDIATRICO - SUS     81559 non-null  int64
 28  UTI NEONATAL - EXIST     81559 non-null  int64
 29  UTI NEONATAL - SUS       81559 non-null  int64
 30  UTI QUEIMADO - EXIST     81559 non-null  int64
 31  UTI QUEIMADO - SUS       81559 non-null  int64
 32  UTI CORONARIANA - EXIST  81559 non-null  int64
 33  UTI CORONARIANA - SUS    81559 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 21.2+ MB

In [95]:
dt_2019.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [96]:
dt_2019["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [97]:
dt_2019["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'MG', 'AC', 'AL', 'AM', 'AP', 'RS', 'MA', 'MT', 'PB', 'PI', 'RR',
       'CE', 'GO', 'RO', 'TO', 'RN'], dtype=object)

In [98]:
# 2020

In [99]:
dt_2020 = pd.read_csv("dataset/Leitos_2020.csv")

In [100]:
dt_2020.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,202001,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,202002,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,202003,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,202004,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,202005,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [101]:
dt_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83412 entries, 0 to 83411
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     83412 non-null  int64
 1   REGIAO                   83412 non-null  object
 2   UF                       83412 non-null  object
 3   MUNICIPIO                83412 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     83412 non-null  int64
 6   NOME ESTABELECIMENTO     83412 non-null  object
 7   RAZAO SOCIAL             83412 non-null  object
 8   TP_GESTAO                83412 non-null  object
 9   CO_TIPO_UNIDADE          83412 non-null  int64
 10  DS_TIPO_UNIDADE          83412 non-null  object
 11  NATUREZA_JURIDICA        83412 non-null  int64
 12  DESC_NATUREZA_JURIDICA   83412 non-null  object
 13  NO_LOGRADOURO            83412 non-null  object
 14  NU_ENDERECO              83412 non-null  object
 15  NO_COMPLEMENTO           14304 non-null  object
 16  NO_BAIRRO                83409 non-null  object
 17  CO_CEP                   83412 non-null  int64
 18  NU_TELEFONE              74518 non-null  object
 19  NO_EMAIL                 53352 non-null  object
 20  LEITOS EXISTENTE         83412 non-null  int64
 21  LEITOS SUS               83412 non-null  int64
 22  UTI TOTAL - EXIST        83412 non-null  int64
 23  UTI TOTAL - SUS          83412 non-null  int64
 24  UTI ADULTO - EXIST       83412 non-null  int64
 25  UTI ADULTO - SUS         83412 non-null  int64
 26  UTI PEDIATRICO - EXIST   83412 non-null  int64
 27  UTI PEDIATRICO - SUS     83412 non-null  int64
 28  UTI NEONATAL - EXIST     83412 non-null  int64
 29  UTI NEONATAL - SUS       83412 non-null  int64
 30  UTI QUEIMADO - EXIST     83412 non-null  int64
 31  UTI QUEIMADO - SUS       83412 non-null  int64
 32  UTI CORONARIANA - EXIST  83412 non-null  int64
 33  UTI CORONARIANA - SUS    83412 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 21.6+ MB

In [102]:
dt_2020.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [103]:
dt_2020["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [104]:
dt_2020["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'PB', 'CE', 'RS', 'RO', 'MA', 'RR', 'RN', 'AM',
       'PI', 'AP', 'MT', 'AC', 'TO'], dtype=object)

In [105]:
dt_2020['UTI CORONARIANA - SUS'].unique()

array([ 0,  8, 10,  2, 20, 14,  4,  5,  3, 15,  6,  7, 13,  1, 18],
      dtype=int64)

In [106]:
# 2021

In [107]:
dt_2021 = pd.read_csv("dataset/Leitos_2021.csv")

In [108]:
dt_2021.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,202101,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,202102,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,202103,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,202104,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,202105,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [109]:
dt_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85783 entries, 0 to 85782
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     85783 non-null  int64
 1   REGIAO                   85783 non-null  object
 2   UF                       85783 non-null  object
 3   MUNICIPIO                85783 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     85783 non-null  int64
 6   NOME ESTABELECIMENTO     85783 non-null  object
 7   RAZAO SOCIAL             85783 non-null  object
 8   TP_GESTAO                85783 non-null  object
 9   CO_TIPO_UNIDADE          85783 non-null  int64
 10  DS_TIPO_UNIDADE          85783 non-null  object
 11  NATUREZA_JURIDICA        85783 non-null  int64
 12  DESC_NATUREZA_JURIDICA   85783 non-null  object
 13  NO_LOGRADOURO            85783 non-null  object
 14  NU_ENDERECO              85783 non-null  object
 15  NO_COMPLEMENTO           15288 non-null  object
 16  NO_BAIRRO                85783 non-null  object
 17  CO_CEP                   85783 non-null  int64
 18  NU_TELEFONE              76033 non-null  object
 19  NO_EMAIL                 55376 non-null  object
 20  LEITOS EXISTENTE         85783 non-null  int64
 21  LEITOS SUS               85783 non-null  int64
 22  UTI TOTAL - EXIST        85783 non-null  int64
 23  UTI TOTAL - SUS          85783 non-null  int64
 24  UTI ADULTO - EXIST       85783 non-null  int64
 25  UTI ADULTO - SUS         85783 non-null  int64
 26  UTI PEDIATRICO - EXIST   85783 non-null  int64
 27  UTI PEDIATRICO - SUS     85783 non-null  int64
 28  UTI NEONATAL - EXIST     85783 non-null  int64
 29  UTI NEONATAL - SUS       85783 non-null  int64
 30  UTI QUEIMADO - EXIST     85783 non-null  int64
 31  UTI QUEIMADO - SUS       85783 non-null  int64
 32  UTI CORONARIANA - EXIST  85783 non-null  int64
 33  UTI CORONARIANA - SUS    85783 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 22.3+ MB

In [110]:
dt_2021.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [111]:
dt_2021["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [112]:
dt_2021["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'PB', 'CE', 'RS', 'RO', 'MA', 'RN', 'AM', 'PI',
       'AP', 'RR', 'MT', 'AC', 'TO'], dtype=object)

In [113]:
# 2022

In [114]:
dt_2022 = pd.read_csv("dataset/Leitos_2022.csv")

In [115]:
dt_2022.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,202201,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,202202,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
2,202203,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
3,202204,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
4,202205,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0

In [116]:
dt_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85313 entries, 0 to 85312
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     85313 non-null  int64
 1   REGIAO                   85313 non-null  object
 2   UF                       85313 non-null  object
 3   MUNICIPIO                85313 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     85313 non-null  int64
 6   NOME ESTABELECIMENTO     85313 non-null  object
 7   RAZAO SOCIAL             85313 non-null  object
 8   TP_GESTAO                85313 non-null  object
 9   CO_TIPO_UNIDADE          85313 non-null  int64
 10  DS_TIPO_UNIDADE          85313 non-null  object
 11  NATUREZA_JURIDICA        85313 non-null  int64
 12  DESC_NATUREZA_JURIDICA   85313 non-null  object
 13  NO_LOGRADOURO            85313 non-null  object
 14  NU_ENDERECO              85313 non-null  object
 15  NO_COMPLEMENTO           15485 non-null  object
 16  NO_BAIRRO                85313 non-null  object
 17  CO_CEP                   85313 non-null  int64
 18  NU_TELEFONE              75773 non-null  object
 19  NO_EMAIL                 55832 non-null  object
 20  LEITOS EXISTENTE         85313 non-null  int64
 21  LEITOS SUS               85313 non-null  int64
 22  UTI TOTAL - EXIST        85313 non-null  int64
 23  UTI TOTAL - SUS          85313 non-null  int64
 24  UTI ADULTO - EXIST       85313 non-null  int64
 25  UTI ADULTO - SUS         85313 non-null  int64
 26  UTI PEDIATRICO - EXIST   85313 non-null  int64
 27  UTI PEDIATRICO - SUS     85313 non-null  int64
 28  UTI NEONATAL - EXIST     85313 non-null  int64
 29  UTI NEONATAL - SUS       85313 non-null  int64
 30  UTI QUEIMADO - EXIST     85313 non-null  int64
 31  UTI QUEIMADO - SUS       85313 non-null  int64
 32  UTI CORONARIANA - EXIST  85313 non-null  int64
 33  UTI CORONARIANA - SUS    85313 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 22.1+ MB

In [117]:
dt_2022["DESC_NATUREZA_JURIDICA"].unique()

array(['HOSPITAL_PRIVADO', 'HOSPITAL_PUBLICO', 'HOSPITAL_FILANTROPICO'],
      dtype=object)

In [118]:
dt_2022.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [119]:
dt_2022["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [120]:
dt_2022["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'], dtype=object)

In [121]:
# 2023

In [122]:
dt_2023 = pd.read_csv("dataset/Leitos_2023.csv")

In [123]:
dt_2023.head()

,COMP,REGIAO,UF,MUNICIPIO,MOTIVO DESABILITACAO,CNES,NOME ESTABELECIMENTO,RAZAO SOCIAL,TP_GESTAO,CO_TIPO_UNIDADE,...,UTI ADULTO - EXIST,UTI ADULTO - SUS,UTI PEDIATRICO - EXIST,UTI PEDIATRICO - SUS,UTI NEONATAL - EXIST,UTI NEONATAL - SUS,UTI QUEIMADO - EXIST,UTI QUEIMADO - SUS,UTI CORONARIANA - EXIST,UTI CORONARIANA - SUS
0,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,35,HOSPITAL MENDO SAMPAIO,PREFEITURA MUNICIPAL DO CABO DE SANTO AGOSTINHO,M,5,...,0,0,0,0,0,0,0,0,0,0
2,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,94,MATERNIDADE PADRE GERALDO LEITE BASTOS,PREFEITURA MUNICIPAL DO CABO DE SANTO AGOSTINHO,M,7,...,0,0,0,0,0,0,0,0,0,0
3,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,183,HOSPITAL SAMARITANO,SOCIEDADE HOSPITALAR SAMARITANO LTDA,M,5,...,5,0,0,0,0,0,0,0,0,0
4,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,221,HOSPITAL SAO SEBASTIAO,CASA DE SAUDE E MATERNIDADE SAO SEBASTIAO LTDA,M,5,...,10,0,0,0,0,0,0,0,0,0

In [124]:
dt_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42245 entries, 0 to 42244
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     42245 non-null  int64
 1   REGIAO                   42245 non-null  object
 2   UF                       42245 non-null  object
 3   MUNICIPIO                42245 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     42245 non-null  int64
 6   NOME ESTABELECIMENTO     42245 non-null  object
 7   RAZAO SOCIAL             42245 non-null  object
 8   TP_GESTAO                42245 non-null  object
 9   CO_TIPO_UNIDADE          42245 non-null  int64
 10  DS_TIPO_UNIDADE          42245 non-null  object
 11  NATUREZA_JURIDICA        42245 non-null  int64
 12  DESC_NATUREZA_JURIDICA   42245 non-null  object
 13  NO_LOGRADOURO            42245 non-null  object
 14  NU_ENDERECO              42245 non-null  object
 15  NO_COMPLEMENTO           7805 non-null   object
 16  NO_BAIRRO                42245 non-null  object
 17  CO_CEP                   42245 non-null  int64
 18  NU_TELEFONE              37528 non-null  object
 19  NO_EMAIL                 27842 non-null  object
 20  LEITOS EXISTENTE         42245 non-null  int64
 21  LEITOS SUS               42245 non-null  int64
 22  UTI TOTAL - EXIST        42245 non-null  int64
 23  UTI TOTAL - SUS          42245 non-null  int64
 24  UTI ADULTO - EXIST       42245 non-null  int64
 25  UTI ADULTO - SUS         42245 non-null  int64
 26  UTI PEDIATRICO - EXIST   42245 non-null  int64
 27  UTI PEDIATRICO - SUS     42245 non-null  int64
 28  UTI NEONATAL - EXIST     42245 non-null  int64
 29  UTI NEONATAL - SUS       42245 non-null  int64
 30  UTI QUEIMADO - EXIST     42245 non-null  int64
 31  UTI QUEIMADO - SUS       42245 non-null  int64
 32  UTI CORONARIANA - EXIST  42245 non-null  int64
 33  UTI CORONARIANA - SUS    42245 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 11.0+ MB

In [125]:
dt_2023.columns

Index(['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS'],
      dtype='object')

In [126]:
dt_2023["REGIAO"].unique()

array(['NORDESTE', 'NORTE', 'SUDESTE', 'CENTRO-OESTE', 'SUL'],
      dtype=object)

In [127]:
dt_2023["UF"].unique()

array(['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RN', 'RO', 'MA', 'PI',
       'AC', 'AM', 'TO', 'RR', 'AP'], dtype=object)

In [128]:
# todos os anos

In [129]:
data = pd.concat([dt_2007, dt_2008, dt_2009, dt_2010, dt_2011, dt_2012, dt_2013, dt_2014, dt_2015, dt_2016, dt_2017, 
                  dt_2018, dt_2019, dt_2020, dt_2021, dt_2022, dt_2023], ignore_index = True)

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369546 entries, 0 to 1369545
Data columns (total 34 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   COMP                     1369415 non-null  float64
 1   REGIAO                   1369415 non-null  object
 2   UF                       1369415 non-null  object
 3   MUNICIPIO                1369415 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null        float64
 5   CNES                     1369415 non-null  float64
 6   NOME ESTABELECIMENTO     1369415 non-null  object
 7   RAZAO SOCIAL             1369415 non-null  object
 8   TP_GESTAO                1369415 non-null  object
 9   CO_TIPO_UNIDADE          1369415 non-null  float64
 10  DS_TIPO_UNIDADE          1369415 non-null  object
 11  NATUREZA_JURIDICA        1369415 non-null  float64
 12  DESC_NATUREZA_JURIDICA   1369368 non-null  object
 13  NO_LOGRADOURO            1369415 non-null  object
 14  NU_ENDERECO              1369087 non-null  object
 15  NO_COMPLEMENTO           211031 non-null   object
 16  NO_BAIRRO                1369412 non-null  object
 17  CO_CEP                   1369415 non-null  float64
 18  NU_TELEFONE              1280599 non-null  object
 19  NO_EMAIL                 806820 non-null   object
 20  LEITOS EXISTENTE         1369284 non-null  float64
 21  LEITOS SUS               1369350 non-null  float64
 22  UTI TOTAL - EXIST        1369415 non-null  float64
 23  UTI TOTAL - SUS          1369415 non-null  float64
 24  UTI ADULTO - EXIST       1369415 non-null  float64
 25  UTI ADULTO - SUS         1369415 non-null  float64
 26  UTI PEDIATRICO - EXIST   1369415 non-null  float64
 27  UTI PEDIATRICO - SUS     1369415 non-null  float64
 28  UTI NEONATAL - EXIST     1369415 non-null  float64
 29  UTI NEONATAL - SUS       1369415 non-null  float64
 30  UTI QUEIMADO - EXIST     1369415 non-null  float64
 31  UTI QUEIMADO - SUS       1369415 non-null  float64
 32  UTI CORONARIANA - EXIST  1369415 non-null  float64
 33  UTI CORONARIANA - SUS    1369284 non-null  float64
dtypes: float64(20), object(14)
memory usage: 355.3+ MB

#### grÃ¡fico comparativo

In [131]:
dt_2007['ano'] = dt_2007['COMP'].astype(str)
dt_2007['meses'] = dt_2007['ano'].str[-2:]
dt_2007['ano'] = dt_2007['ano'].str[:-2]
dt_2007['ano'] = dt_2007['ano'].astype(int)
dt_2007['meses'] = dt_2007['meses'].astype(int)

In [132]:
pe_07 = dt_2007[dt_2007['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_07 = dt_2007[dt_2007['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_07 = dt_2007[dt_2007['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_07 = dt_2007[dt_2007['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_07 = dt_2007[dt_2007['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_07 = dt_2007[dt_2007['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_07 = dt_2007[dt_2007['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_07 = dt_2007[dt_2007['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_07 = dt_2007[dt_2007['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_07 = dt_2007[dt_2007['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_07 = dt_2007[dt_2007['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_07 = dt_2007[dt_2007['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_07 = dt_2007[dt_2007['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_07 = dt_2007[dt_2007['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_07 = dt_2007[dt_2007['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_07 = dt_2007[dt_2007['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_07 = dt_2007[dt_2007['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_07 = dt_2007[dt_2007['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_07 = dt_2007[dt_2007['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_07 = dt_2007[dt_2007['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_07 = dt_2007[dt_2007['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_07 = dt_2007[dt_2007['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_07 = dt_2007[dt_2007['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_07 = dt_2007[dt_2007['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_07 = dt_2007[dt_2007['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_07 = dt_2007[dt_2007['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_07 = dt_2007[dt_2007['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [133]:
dt_07 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_07, se_07, ba_07, pa_07, sp_07, ms_07, df_07, es_07, rj_07, pr_07, sc_07, go_07, al_07, 
                           mg_07, mt_07, pb_07, ce_07, rs_07, ro_07, rn_07, am_07, ap_07, ma_07, rr_07, pi_07, 
                           ac_07, to_07]}
dt_07['ano'] = 2007
df_07 = pd.DataFrame(dt_07)

In [134]:
dt_2008['ano'] = dt_2008['COMP'].astype(str)
dt_2008['meses'] = dt_2008['ano'].str[-2:]
dt_2008['ano'] = dt_2008['ano'].str[:-2]
dt_2008['ano'] = dt_2008['ano'].astype(int)
dt_2008['meses'] = dt_2008['meses'].astype(int)

In [135]:
pe_08 = dt_2008[dt_2008['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_08 = dt_2008[dt_2008['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_08 = dt_2008[dt_2008['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_08 = dt_2008[dt_2008['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_08 = dt_2008[dt_2008['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_08 = dt_2008[dt_2008['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_08 = dt_2008[dt_2008['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_08 = dt_2008[dt_2008['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_08 = dt_2008[dt_2008['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_08 = dt_2008[dt_2008['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_08 = dt_2008[dt_2008['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_08 = dt_2008[dt_2008['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_08 = dt_2008[dt_2008['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_08 = dt_2008[dt_2008['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_08 = dt_2008[dt_2008['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_08 = dt_2008[dt_2008['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_08 = dt_2008[dt_2008['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_08 = dt_2008[dt_2008['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_08 = dt_2008[dt_2008['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_08 = dt_2008[dt_2008['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_08 = dt_2008[dt_2008['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_08 = dt_2008[dt_2008['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_08 = dt_2008[dt_2008['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_08 = dt_2008[dt_2008['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_08 = dt_2008[dt_2008['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_08 = dt_2008[dt_2008['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_08 = dt_2008[dt_2008['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [136]:
dt_08 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_08, se_08, ba_08, pa_08, sp_08, ms_08, df_08, es_08, rj_08, pr_08, sc_08, go_08, al_08, 
                           mg_08, mt_08, pb_08, ce_08, rs_08, ro_08, rn_08, am_08, ap_08, ma_08, rr_08, pi_08, 
                           ac_08, to_08]}
dt_08['ano'] = 2008
df_08 = pd.DataFrame(dt_08)

In [137]:
dt_2009['ano'] = dt_2009['COMP'].astype(str)
dt_2009['meses'] = dt_2009['ano'].str[-2:]
dt_2009['ano'] = dt_2009['ano'].str[:-2]
dt_2009['ano'] = dt_2009['ano'].astype(int)
dt_2009['meses'] = dt_2009['meses'].astype(int)

In [138]:
pe_09 = dt_2009[dt_2009['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_09 = dt_2009[dt_2009['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_09 = dt_2009[dt_2009['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_09 = dt_2009[dt_2009['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_09 = dt_2009[dt_2009['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_09 = dt_2009[dt_2009['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_09 = dt_2009[dt_2009['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_09 = dt_2009[dt_2009['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_09 = dt_2009[dt_2009['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_09 = dt_2009[dt_2009['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_09 = dt_2009[dt_2009['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_09 = dt_2009[dt_2009['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_09 = dt_2009[dt_2009['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_09 = dt_2009[dt_2009['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_09 = dt_2009[dt_2009['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_09 = dt_2009[dt_2009['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_09 = dt_2009[dt_2009['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_09 = dt_2009[dt_2009['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_09 = dt_2009[dt_2009['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_09 = dt_2009[dt_2009['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_09 = dt_2009[dt_2009['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_09 = dt_2009[dt_2009['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_09 = dt_2009[dt_2009['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_09 = dt_2009[dt_2009['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_09 = dt_2009[dt_2009['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_09 = dt_2009[dt_2009['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_09 = dt_2009[dt_2009['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [139]:
dt_09 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_09, se_09, ba_09, pa_09, sp_09, ms_09, df_09, es_09, rj_09, pr_09, sc_09, go_09, al_09, 
                           mg_09, mt_09, pb_09, ce_09, rs_09, ro_09, rn_09, am_09, ap_09, ma_09, rr_09, pi_09, 
                           ac_09, to_09]}
dt_09['ano'] = 2009
df_09 = pd.DataFrame(dt_09)

In [140]:
dt_2010['ano'] = dt_2010['COMP'].astype(str)
dt_2010['meses'] = dt_2010['ano'].str[-2:]
dt_2010['ano'] = dt_2010['ano'].str[:-2]
dt_2010['ano'] = dt_2010['ano'].astype(int)
dt_2010['meses'] = dt_2010['meses'].astype(int)

In [141]:
pe_10 = dt_2010[dt_2010['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_10 = dt_2010[dt_2010['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_10 = dt_2010[dt_2010['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_10 = dt_2010[dt_2010['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_10 = dt_2010[dt_2010['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_10 = dt_2010[dt_2010['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
dfl_10 = dt_2010[dt_2010['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_10 = dt_2010[dt_2010['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_10 = dt_2010[dt_2010['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_10 = dt_2010[dt_2010['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_10 = dt_2010[dt_2010['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_10 = dt_2010[dt_2010['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_10 = dt_2010[dt_2010['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_10 = dt_2010[dt_2010['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_10 = dt_2010[dt_2010['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_10 = dt_2010[dt_2010['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_10 = dt_2010[dt_2010['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_10 = dt_2010[dt_2010['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_10 = dt_2010[dt_2010['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_10 = dt_2010[dt_2010['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_10 = dt_2010[dt_2010['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_10 = dt_2010[dt_2010['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_10 = dt_2010[dt_2010['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_10 = dt_2010[dt_2010['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_10 = dt_2010[dt_2010['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_10 = dt_2010[dt_2010['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_10 = dt_2010[dt_2010['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [142]:
dt_10 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_10, se_10, ba_10, pa_10, sp_10, ms_10, dfl_10, es_10, rj_10, pr_10, sc_10, go_10, al_10, 
                           mg_10, mt_10, pb_10, ce_10, rs_10, ro_10, rn_10, am_10, ap_10, ma_10, rr_10, pi_10, 
                           ac_10, to_10]}
dt_10['ano'] = 2010
df_10 = pd.DataFrame(dt_10)

In [143]:
dt_2011['ano'] = dt_2011['COMP'].astype(str)
dt_2011['meses'] = dt_2011['ano'].str[-2:]
dt_2011['ano'] = dt_2011['ano'].str[:-2]
dt_2011['ano'] = dt_2011['ano'].astype(int)
dt_2011['meses'] = dt_2011['meses'].astype(int)

In [144]:
pe_11 = dt_2011[dt_2011['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_11 = dt_2011[dt_2011['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_11 = dt_2011[dt_2011['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_11 = dt_2011[dt_2011['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_11 = dt_2011[dt_2011['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_11 = dt_2011[dt_2011['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_11 = dt_2011[dt_2011['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_11 = dt_2011[dt_2011['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_11 = dt_2011[dt_2011['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_11 = dt_2011[dt_2011['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_11 = dt_2011[dt_2011['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_11 = dt_2011[dt_2011['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_11 = dt_2011[dt_2011['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_11 = dt_2011[dt_2011['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_11 = dt_2011[dt_2011['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_11 = dt_2011[dt_2011['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_11 = dt_2011[dt_2011['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_11 = dt_2011[dt_2011['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_11 = dt_2011[dt_2011['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_11 = dt_2011[dt_2011['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_11 = dt_2011[dt_2011['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_11 = dt_2011[dt_2011['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_11 = dt_2011[dt_2011['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_11 = dt_2011[dt_2011['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_11 = dt_2011[dt_2011['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_11 = dt_2011[dt_2011['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_11 = dt_2011[dt_2011['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [145]:
dt_11 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_11, se_11, ba_11, pa_11, sp_11, ms_11, df_11, es_11, rj_11, pr_11, sc_11, go_11, al_11, 
                           mg_11, mt_11, pb_11, ce_11, rs_11, ro_11, rn_11, am_11, ap_11, ma_11, rr_11, pi_11, 
                           ac_11, to_11]}
dt_11['ano'] = 2011
df_11 = pd.DataFrame(dt_11)

In [146]:
dt_2012['ano'] = dt_2012['COMP'].astype(str)
dt_2012['meses'] = dt_2012['ano'].str[-2:]
dt_2012['ano'] = dt_2012['ano'].str[:-2]
dt_2012['ano'] = dt_2012['ano'].astype(int)
dt_2012['meses'] = dt_2012['meses'].astype(int)

In [147]:
pe_12 = dt_2012[dt_2012['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_12 = dt_2012[dt_2012['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_12 = dt_2012[dt_2012['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_12 = dt_2012[dt_2012['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_12 = dt_2012[dt_2012['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_12 = dt_2012[dt_2012['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_12 = dt_2012[dt_2012['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_12 = dt_2012[dt_2012['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_12 = dt_2012[dt_2012['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_12 = dt_2012[dt_2012['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_12 = dt_2012[dt_2012['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_12 = dt_2012[dt_2012['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_12 = dt_2012[dt_2012['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_12 = dt_2012[dt_2012['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_12 = dt_2012[dt_2012['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_12 = dt_2012[dt_2012['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_12 = dt_2012[dt_2012['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_12 = dt_2012[dt_2012['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_12 = dt_2012[dt_2012['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_12 = dt_2012[dt_2012['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_12 = dt_2012[dt_2012['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_12 = dt_2012[dt_2012['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_12 = dt_2012[dt_2012['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_12 = dt_2012[dt_2012['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_12 = dt_2012[dt_2012['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_12 = dt_2012[dt_2012['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_12 = dt_2012[dt_2012['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [148]:
dt_12 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_12, se_12, ba_12, pa_12, sp_12, ms_12, df_12, es_12, rj_12, pr_12, sc_12, go_12, al_12, 
                           mg_12, mt_12, pb_12, ce_12, rs_12, ro_12, rn_12, am_12, ap_12, ma_12, rr_12, pi_12, 
                           ac_12, to_12]}
dt_12['ano'] = 2012
df_12 = pd.DataFrame(dt_12)

In [149]:
dt_2013['ano'] = dt_2013['COMP'].astype(str)
dt_2013['meses'] = dt_2013['ano'].str[-2:]
dt_2013['ano'] = dt_2013['ano'].str[:-2]
dt_2013['ano'] = dt_2013['ano'].astype(int)
dt_2013['meses'] = dt_2013['meses'].astype(int)

In [150]:
pe_13 = dt_2013[dt_2013['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_13 = dt_2013[dt_2013['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_13 = dt_2013[dt_2013['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_13 = dt_2013[dt_2013['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_13 = dt_2013[dt_2013['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_13 = dt_2013[dt_2013['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_13 = dt_2013[dt_2013['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_13 = dt_2013[dt_2013['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_13 = dt_2013[dt_2013['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_13 = dt_2013[dt_2013['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_13 = dt_2013[dt_2013['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_13 = dt_2013[dt_2013['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_13 = dt_2013[dt_2013['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_13 = dt_2013[dt_2013['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_13 = dt_2013[dt_2013['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_13 = dt_2013[dt_2013['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_13 = dt_2013[dt_2013['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_13 = dt_2013[dt_2013['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_13 = dt_2013[dt_2013['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_13 = dt_2013[dt_2013['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_13 = dt_2013[dt_2013['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_13 = dt_2013[dt_2013['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_13 = dt_2013[dt_2013['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_13 = dt_2013[dt_2013['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_13 = dt_2013[dt_2013['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_13 = dt_2013[dt_2013['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_13 = dt_2013[dt_2013['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [151]:
dt_13 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_13, se_13, ba_13, pa_13, sp_13, ms_13, df_13, es_13, rj_13, pr_13, sc_13, go_13, al_13, 
                           mg_13, mt_13, pb_13, ce_13, rs_13, ro_13, rn_13, am_13, ap_13, ma_13, rr_13, pi_13, 
                           ac_13, to_13]}
dt_13['ano'] = 2013
df_13 = pd.DataFrame(dt_13)

In [152]:
dt_2014['ano'] = dt_2014['COMP'].astype(str)
dt_2014['meses'] = dt_2014['ano'].str[-2:]
dt_2014['ano'] = dt_2014['ano'].str[:-2]
dt_2014['ano'] = dt_2014['ano'].astype(int)
dt_2014['meses'] = dt_2014['meses'].astype(int)

In [153]:
pe_14 = dt_2014[dt_2014['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_14 = dt_2014[dt_2014['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_14 = dt_2014[dt_2014['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_14 = dt_2014[dt_2014['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_14 = dt_2014[dt_2014['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_14 = dt_2014[dt_2014['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
dfl_14 = dt_2014[dt_2014['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_14 = dt_2014[dt_2014['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_14 = dt_2014[dt_2014['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_14 = dt_2014[dt_2014['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_14 = dt_2014[dt_2014['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_14 = dt_2014[dt_2014['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_14 = dt_2014[dt_2014['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_14 = dt_2014[dt_2014['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_14 = dt_2014[dt_2014['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_14 = dt_2014[dt_2014['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_14 = dt_2014[dt_2014['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_14 = dt_2014[dt_2014['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_14 = dt_2014[dt_2014['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_14 = dt_2014[dt_2014['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_14 = dt_2014[dt_2014['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_14 = dt_2014[dt_2014['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_14 = dt_2014[dt_2014['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_14 = dt_2014[dt_2014['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_14 = dt_2014[dt_2014['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_14 = dt_2014[dt_2014['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_14 = dt_2014[dt_2014['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [154]:
dt_14 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_14, se_14, ba_14, pa_14, sp_14, ms_14, dfl_14, es_14, rj_14, pr_14, sc_14, go_14, al_14, 
                           mg_14, mt_14, pb_14, ce_14, rs_14, ro_14, rn_14, am_14, ap_14, ma_14, rr_14, pi_14, 
                           ac_14, to_14]}
dt_14['ano'] = 2014
df_14 = pd.DataFrame(dt_14)

In [155]:
dt_2015['ano'] = dt_2015['COMP'].astype(str)
dt_2015['meses'] = dt_2015['ano'].str[-2:]
dt_2015['ano'] = dt_2015['ano'].str[:-2]
dt_2015['ano'] = dt_2015['ano'].astype(int)
dt_2015['meses'] = dt_2015['meses'].astype(int)

In [156]:
pe_15 = dt_2015[dt_2015['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_15 = dt_2015[dt_2015['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_15 = dt_2015[dt_2015['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_15 = dt_2015[dt_2015['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_15 = dt_2015[dt_2015['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_15 = dt_2015[dt_2015['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_15 = dt_2015[dt_2015['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_15 = dt_2015[dt_2015['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_15 = dt_2015[dt_2015['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_15 = dt_2015[dt_2015['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_15 = dt_2015[dt_2015['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_15 = dt_2015[dt_2015['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_15 = dt_2015[dt_2015['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_15 = dt_2015[dt_2015['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_15 = dt_2015[dt_2015['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_15 = dt_2015[dt_2015['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_15 = dt_2015[dt_2015['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_15 = dt_2015[dt_2015['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_15 = dt_2015[dt_2015['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_15 = dt_2015[dt_2015['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_15 = dt_2015[dt_2015['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_15 = dt_2015[dt_2015['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_15 = dt_2015[dt_2015['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_15 = dt_2015[dt_2015['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_15 = dt_2015[dt_2015['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_15 = dt_2015[dt_2015['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_15 = dt_2015[dt_2015['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [157]:
dt_15 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_15, se_15, ba_15, pa_15, sp_15, ms_15, df_15, es_15, rj_15, pr_15, sc_15, go_15, al_15, 
                           mg_15, mt_15, pb_15, ce_15, rs_15, ro_15, rn_15, am_15, ap_15, ma_15, rr_15, pi_15, 
                           ac_15, to_15]}
dt_15['ano'] = 2015
df_15 = pd.DataFrame(dt_15)

In [158]:
dt_2016['ano'] = dt_2016['COMP'].astype(str)
dt_2016['meses'] = dt_2016['ano'].str[-2:]
dt_2016['ano'] = dt_2016['ano'].str[:-2]
dt_2016['ano'] = dt_2016['ano'].astype(int)
dt_2016['meses'] = dt_2016['meses'].astype(int)

In [159]:
pe_16 = dt_2016[dt_2016['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_16 = dt_2016[dt_2016['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_16 = dt_2016[dt_2016['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_16 = dt_2016[dt_2016['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_16 = dt_2016[dt_2016['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_16 = dt_2016[dt_2016['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_16 = dt_2016[dt_2016['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_16 = dt_2016[dt_2016['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_16 = dt_2016[dt_2016['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_16 = dt_2016[dt_2016['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_16 = dt_2016[dt_2016['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_16 = dt_2016[dt_2016['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_16 = dt_2016[dt_2016['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_16 = dt_2016[dt_2016['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_16 = dt_2016[dt_2016['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_16 = dt_2016[dt_2016['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_16 = dt_2016[dt_2016['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_16 = dt_2016[dt_2016['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_16 = dt_2016[dt_2016['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_16 = dt_2016[dt_2016['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_16 = dt_2016[dt_2016['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_16 = dt_2016[dt_2016['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_16 = dt_2016[dt_2016['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_16 = dt_2016[dt_2016['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_16 = dt_2016[dt_2016['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_16 = dt_2016[dt_2016['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_16 = dt_2016[dt_2016['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [160]:
dt_16 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_16, se_16, ba_16, pa_16, sp_16, ms_16, df_16, es_16, rj_16, pr_16, sc_16, go_16, al_16, 
                           mg_16, mt_16, pb_16, ce_16, rs_16, ro_16, rn_16, am_16, ap_16, ma_16, rr_16, pi_16, 
                           ac_16, to_16]}
dt_16['ano'] = 2016
df_16 = pd.DataFrame(dt_16)

In [161]:
dt_2017['ano'] = dt_2017['COMP'].astype(str)
dt_2017['meses'] = dt_2017['ano'].str[-2:]
dt_2017['ano'] = dt_2017['ano'].str[:-2]
dt_2017['ano'] = dt_2017['ano'].astype(int)
dt_2017['meses'] = dt_2017['meses'].astype(int)

In [162]:
pe_17 = dt_2017[dt_2017['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_17 = dt_2017[dt_2017['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_17 = dt_2017[dt_2017['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_17 = dt_2017[dt_2017['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_17 = dt_2017[dt_2017['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_17 = dt_2017[dt_2017['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_17 = dt_2017[dt_2017['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_17 = dt_2017[dt_2017['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_17 = dt_2017[dt_2017['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_17 = dt_2017[dt_2017['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_17 = dt_2017[dt_2017['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_17 = dt_2017[dt_2017['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_17 = dt_2017[dt_2017['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_17 = dt_2017[dt_2017['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_17 = dt_2017[dt_2017['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_17 = dt_2017[dt_2017['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_17 = dt_2017[dt_2017['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_17 = dt_2017[dt_2017['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_17 = dt_2017[dt_2017['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_17 = dt_2017[dt_2017['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_17 = dt_2017[dt_2017['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_17 = dt_2017[dt_2017['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_17 = dt_2017[dt_2017['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_17 = dt_2017[dt_2017['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_17 = dt_2017[dt_2017['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_17 = dt_2017[dt_2017['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_17 = dt_2017[dt_2017['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [163]:
dt_17 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_17, se_17, ba_17, pa_17, sp_17, ms_17, df_17, es_17, rj_17, pr_17, sc_17, go_17, al_17, 
                           mg_17, mt_17, pb_17, ce_17, rs_17, ro_17, rn_17, am_17, ap_17, ma_17, rr_17, pi_17, 
                           ac_17, to_17]}
dt_17['ano'] = 2017
df_17 = pd.DataFrame(dt_17)

In [164]:
dt_2018["COMP"].dtypes

dtype('float64')

In [165]:
dt_2018["COMP"] = dt_2018["COMP"].fillna(0)
dt_2018["COMP"] = dt_2018["COMP"].astype(int)

In [166]:
dt_2018['COMP'].unique()

array([201801, 201802, 201803, 201804, 201805, 201806, 201807, 201808,
       201809, 201810, 201811, 201812,      0])

In [167]:
dt_2018 = dt_2018[dt_2018['COMP'] !=       0]

In [168]:
dt_2018['ano'] = dt_2018['COMP'].astype(str)
dt_2018['meses'] = dt_2018['ano'].str[-2:]
dt_2018['ano'] = dt_2018['ano'].str[:-2]
dt_2018['ano'] = dt_2018['ano'].astype(int)
dt_2018['meses'] = dt_2018['meses'].astype(int)

In [169]:
pe_18 = dt_2018[dt_2018['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_18 = dt_2018[dt_2018['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_18 = dt_2018[dt_2018['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_18 = dt_2018[dt_2018['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_18 = dt_2018[dt_2018['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_18 = dt_2018[dt_2018['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_18 = dt_2018[dt_2018['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_18 = dt_2018[dt_2018['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_18 = dt_2018[dt_2018['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_18 = dt_2018[dt_2018['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_18 = dt_2018[dt_2018['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_18 = dt_2018[dt_2018['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_18 = dt_2018[dt_2018['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_18 = dt_2018[dt_2018['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_18 = dt_2018[dt_2018['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_18 = dt_2018[dt_2018['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_18 = dt_2018[dt_2018['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_18 = dt_2018[dt_2018['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_18 = dt_2018[dt_2018['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_18 = dt_2018[dt_2018['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_18 = dt_2018[dt_2018['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_18 = dt_2018[dt_2018['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_18 = dt_2018[dt_2018['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_18 = dt_2018[dt_2018['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_18 = dt_2018[dt_2018['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_18 = dt_2018[dt_2018['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_18 = dt_2018[dt_2018['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [170]:
dt_18 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_18, se_18, ba_18, pa_18, sp_18, ms_18, df_18, es_18, rj_18, pr_18, sc_18, go_18, al_18, 
                           mg_18, mt_18, pb_18, ce_18, rs_18, ro_18, rn_18, am_18, ap_18, ma_18, rr_18, pi_18, 
                           ac_18, to_18]}
dt_18['ano'] = 2018
df_18 = pd.DataFrame(dt_18)

In [171]:
dt_2019['ano'] = dt_2019['COMP'].astype(str)
dt_2019['meses'] = dt_2019['ano'].str[-2:]
dt_2019['ano'] = dt_2019['ano'].str[:-2]
dt_2019['ano'] = dt_2019['ano'].astype(int)
dt_2019['meses'] = dt_2019['meses'].astype(int)

In [172]:
pe_19 = dt_2019[dt_2019['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_19 = dt_2019[dt_2019['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_19 = dt_2019[dt_2019['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_19 = dt_2019[dt_2019['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_19 = dt_2019[dt_2019['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_19 = dt_2019[dt_2019['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
dfl_19 = dt_2019[dt_2019['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_19 = dt_2019[dt_2019['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_19 = dt_2019[dt_2019['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_19 = dt_2019[dt_2019['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_19 = dt_2019[dt_2019['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_19 = dt_2019[dt_2019['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_19 = dt_2019[dt_2019['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_19 = dt_2019[dt_2019['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_19 = dt_2019[dt_2019['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_19 = dt_2019[dt_2019['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_19 = dt_2019[dt_2019['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_19 = dt_2019[dt_2019['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_19 = dt_2019[dt_2019['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_19 = dt_2019[dt_2019['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_19 = dt_2019[dt_2019['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_19 = dt_2019[dt_2019['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_19 = dt_2019[dt_2019['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_19 = dt_2019[dt_2019['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_19 = dt_2019[dt_2019['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_19 = dt_2019[dt_2019['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_19 = dt_2019[dt_2019['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [173]:
dt_19 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_19, se_19, ba_19, pa_19, sp_19, ms_19, dfl_19, es_19, rj_19, pr_19, sc_19, go_19, al_19, 
                           mg_19, mt_19, pb_19, ce_19, rs_19, ro_19, rn_19, am_19, ap_19, ma_19, rr_19, pi_19, 
                           ac_19, to_19]}
dt_19['ano'] = 2019
df_19 = pd.DataFrame(dt_19)

In [174]:
dt_2020['ano'] = dt_2020['COMP'].astype(str)
dt_2020['meses'] = dt_2020['ano'].str[-2:]
dt_2020['ano'] = dt_2020['ano'].str[:-2]
dt_2020['ano'] = dt_2020['ano'].astype(int)
dt_2020['meses'] = dt_2020['meses'].astype(int)

In [175]:
pe_20 = dt_2020[dt_2020['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_20 = dt_2020[dt_2020['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_20 = dt_2020[dt_2020['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_20 = dt_2020[dt_2020['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_20 = dt_2020[dt_2020['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_20 = dt_2020[dt_2020['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_20 = dt_2020[dt_2020['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_20 = dt_2020[dt_2020['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_20 = dt_2020[dt_2020['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_20 = dt_2020[dt_2020['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_20 = dt_2020[dt_2020['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_20 = dt_2020[dt_2020['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_20 = dt_2020[dt_2020['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_20 = dt_2020[dt_2020['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_20 = dt_2020[dt_2020['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_20 = dt_2020[dt_2020['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_20 = dt_2020[dt_2020['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_20 = dt_2020[dt_2020['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_20 = dt_2020[dt_2020['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_20 = dt_2020[dt_2020['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_20 = dt_2020[dt_2020['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_20 = dt_2020[dt_2020['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_20 = dt_2020[dt_2020['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_20 = dt_2020[dt_2020['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_20 = dt_2020[dt_2020['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_20 = dt_2020[dt_2020['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_20 = dt_2020[dt_2020['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [176]:
dt_20 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_20, se_20, ba_20, pa_20, sp_20, ms_20, df_20, es_20, rj_20, pr_20, sc_20, go_20, al_20, 
                           mg_20, mt_20, pb_20, ce_20, rs_20, ro_20, rn_20, am_20, ap_20, ma_20, rr_20, pi_20, 
                           ac_20, to_20]}
dt_20['ano'] = 2020
df_20 = pd.DataFrame(dt_20)

In [177]:
dt_2021['ano'] = dt_2021['COMP'].astype(str)
dt_2021['meses'] = dt_2021['ano'].str[-2:]
dt_2021['ano'] = dt_2021['ano'].str[:-2]
dt_2021['ano'] = dt_2021['ano'].astype(int)
dt_2021['meses'] = dt_2021['meses'].astype(int)

In [178]:
pe_21 = dt_2021[dt_2021['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_21 = dt_2021[dt_2021['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_21 = dt_2021[dt_2021['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_21 = dt_2021[dt_2021['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_21 = dt_2021[dt_2021['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_21 = dt_2021[dt_2021['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_21 = dt_2021[dt_2021['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_21 = dt_2021[dt_2021['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_21 = dt_2021[dt_2021['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_21 = dt_2021[dt_2021['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_21 = dt_2021[dt_2021['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_21 = dt_2021[dt_2021['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_21 = dt_2021[dt_2021['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_21 = dt_2021[dt_2021['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_21 = dt_2021[dt_2021['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_21 = dt_2021[dt_2021['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_21 = dt_2021[dt_2021['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_21 = dt_2021[dt_2021['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_21 = dt_2021[dt_2021['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_21 = dt_2021[dt_2021['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_21 = dt_2021[dt_2021['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_21 = dt_2021[dt_2021['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_21 = dt_2021[dt_2021['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_21 = dt_2021[dt_2021['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_21 = dt_2021[dt_2021['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_21 = dt_2021[dt_2021['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_21 = dt_2021[dt_2021['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [179]:
dt_21 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_21, se_21, ba_21, pa_21, sp_21, ms_21, df_21, es_21, rj_21, pr_21, sc_21, go_21, al_21, 
                           mg_21, mt_21, pb_21, ce_21, rs_21, ro_21, rn_21, am_21, ap_21, ma_21, rr_21, pi_21, 
                           ac_21, to_21]}
dt_21['ano'] = 2021
df_21 = pd.DataFrame(dt_21)

In [180]:
dt_2022['ano'] = dt_2022['COMP'].astype(str)
dt_2022['meses'] = dt_2022['ano'].str[-2:]
dt_2022['ano'] = dt_2022['ano'].str[:-2]
dt_2022['ano'] = dt_2022['ano'].astype(int)
dt_2022['meses'] = dt_2022['meses'].astype(int)

In [181]:
pe_22 = dt_2022[dt_2022['UF'] == "PE"]['LEITOS EXISTENTE'].sum()
se_22 = dt_2022[dt_2022['UF'] == "SE"]['LEITOS EXISTENTE'].sum()
ba_22 = dt_2022[dt_2022['UF'] == "BA"]['LEITOS EXISTENTE'].sum()
pa_22 = dt_2022[dt_2022['UF'] == "PA"]['LEITOS EXISTENTE'].sum()
sp_22 = dt_2022[dt_2022['UF'] == "SP"]['LEITOS EXISTENTE'].sum()
ms_22 = dt_2022[dt_2022['UF'] == "MS"]['LEITOS EXISTENTE'].sum()
df_22 = dt_2022[dt_2022['UF'] == "DF"]['LEITOS EXISTENTE'].sum()
es_22 = dt_2022[dt_2022['UF'] == "ES"]['LEITOS EXISTENTE'].sum()
rj_22 = dt_2022[dt_2022['UF'] == "RJ"]['LEITOS EXISTENTE'].sum()
pr_22 = dt_2022[dt_2022['UF'] == "PR"]['LEITOS EXISTENTE'].sum()
sc_22 = dt_2022[dt_2022['UF'] == "SC"]['LEITOS EXISTENTE'].sum()
go_22 = dt_2022[dt_2022['UF'] == "GO"]['LEITOS EXISTENTE'].sum()
al_22 = dt_2022[dt_2022['UF'] == "AL"]['LEITOS EXISTENTE'].sum()
mg_22 = dt_2022[dt_2022['UF'] == "MG"]['LEITOS EXISTENTE'].sum()
mt_22 = dt_2022[dt_2022['UF'] == "MT"]['LEITOS EXISTENTE'].sum()
pb_22 = dt_2022[dt_2022['UF'] == "PB"]['LEITOS EXISTENTE'].sum()
ce_22 = dt_2022[dt_2022['UF'] == "CE"]['LEITOS EXISTENTE'].sum()
rs_22 = dt_2022[dt_2022['UF'] == "RS"]['LEITOS EXISTENTE'].sum()
ro_22 = dt_2022[dt_2022['UF'] == "RO"]['LEITOS EXISTENTE'].sum()
rn_22 = dt_2022[dt_2022['UF'] == "RN"]['LEITOS EXISTENTE'].sum()
am_22 = dt_2022[dt_2022['UF'] == "AM"]['LEITOS EXISTENTE'].sum()
ap_22 = dt_2022[dt_2022['UF'] == "AP"]['LEITOS EXISTENTE'].sum()
ma_22 = dt_2022[dt_2022['UF'] == "MA"]['LEITOS EXISTENTE'].sum()
rr_22 = dt_2022[dt_2022['UF'] == "RR"]['LEITOS EXISTENTE'].sum()
pi_22 = dt_2022[dt_2022['UF'] == "PI"]['LEITOS EXISTENTE'].sum()
ac_22 = dt_2022[dt_2022['UF'] == "AC"]['LEITOS EXISTENTE'].sum()
to_22 = dt_2022[dt_2022['UF'] == "TO"]['LEITOS EXISTENTE'].sum()

In [182]:
dt_22 = {'UF': ['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'],
      'LEITOS EXISTENTES': [pe_22, se_22, ba_22, pa_22, sp_22, ms_22, df_22, es_22, rj_22, pr_22, sc_22, go_22, al_22, 
                           mg_22, mt_22, pb_22, ce_22, rs_22, ro_22, rn_22, am_22, ap_22, ma_22, rr_22, pi_22, 
                           ac_22, to_22]}
dt_22['ano'] = 2022
df_22 = pd.DataFrame(dt_22)

#### tabela com dados de 2010, 2014 e 2019 sobre a quantidade de leitos por estado

In [183]:
quant_leitos = {'UF':['PE', 'SE', 'BA', 'PA', 'SP', 'MS', 'DF', 'ES', 'RJ', 'PR', 'SC',
       'GO', 'AL', 'MG', 'MT', 'PB', 'CE', 'RS', 'RO', 'RN', 'AM', 'AP',
       'MA', 'RR', 'PI', 'AC', 'TO'], 
      '2010': [pe_10, se_10, ba_10, pa_10, sp_10, ms_10, dfl_10, es_10, rj_10, pr_10, sc_10, go_10, al_10, 
        mg_10, mt_10, pb_10, ce_10, rs_10, ro_10, rn_10, am_10, ap_10, ma_10, rr_10, pi_10, 
        ac_10, to_10], 
      '2014': [pe_14, se_14, ba_14, pa_14, sp_14, ms_14, dfl_14, es_14, rj_14, pr_14, sc_14, go_14, al_14, 
        mg_14, mt_14, pb_14, ce_14, rs_14, ro_14, rn_14, am_14, ap_14, ma_14, rr_14, pi_14, 
        ac_14, to_14], 
      '2019': [pe_19, se_19, ba_19, pa_19, sp_19, ms_19, dfl_19, es_19, rj_19, pr_19, sc_19, go_19, al_19, 
        mg_19, mt_19, pb_19, ce_19, rs_19, ro_19, rn_19, am_19, ap_19, ma_19, rr_19, pi_19, 
        ac_19, to_19]}
quant_leitos = pd.DataFrame(quant_leitos)

In [189]:
dt = pd.concat([df_07, df_08, df_09, df_10, df_11, df_12, df_13, df_14, df_15, df_16,
                df_17, df_18, df_19, df_20, df_21, df_22], ignore_index=True)

In [190]:
dt.to_csv('leitos por estado ao longo dos anos.csv')