In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("OLeitos_2018.csv")

C:\Users\Clara Aquino\AppData\Local\Temp\ipykernel_3280\847035326.py:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("leitos.csv")

In [28]:
coluna = df['V34']
coluna_modificada = coluna.str[32:-1]
df['V34'] = coluna_modificada
df.head()

,V34,V35,V36,V37,V38,V39,V40,V41,V42,V43,...,V58,V59,V60,V61,V62,V63,V64,V65,V66,V67
0,201801,'NORDESTE','PE','CABO DE SANTO AGOSTINHO',NaN,'0000027','CASA DE SAUDE SANTA HELENA','CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA','M','05',...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0);
1,201802,'NORDESTE','PE','CABO DE SANTO AGOSTINHO',NaN,'0000027','CASA DE SAUDE SANTA HELENA','CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA','M','05',...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0);
2,201803,'NORDESTE','PE','CABO DE SANTO AGOSTINHO',NaN,'0000027','CASA DE SAUDE SANTA HELENA','CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA','M','05',...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0);
3,201804,'NORDESTE','PE','CABO DE SANTO AGOSTINHO',NaN,'0000027','CASA DE SAUDE SANTA HELENA','CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA','M','05',...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0);
4,201805,'NORDESTE','PE','CABO DE SANTO AGOSTINHO',NaN,'0000027','CASA DE SAUDE SANTA HELENA','CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA','M','05',...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0);

In [29]:
co1 = df["V35"]
co1m = co1.str[1:-1]
df["V35"] = co1m

In [30]:
co2 = df["V36"]
co2m = co2.str[1:-1]
df["V36"] = co2m

In [31]:
co3 = df["V37"]
co3m = co3.str[1:-1]
df["V37"] = co3m

In [32]:
df["V38"].unique()

array([nan])

In [33]:
co4 = df["V39"]
co4m = co4.str[1:-1]
df["V39"] = co4m

In [34]:
co5 = df["V40"]
co5m = co5.str[1:-1]
df["V40"] = co5m

In [35]:
co6 = df["V41"]
co6m = co6.str[1:-1]
df["V41"] = co6m

In [36]:
co7 = df["V42"]
co7m = co7.str[1:-1]
df["V42"] = co7m

In [37]:
co8 = df["V43"]
co8m = co8.str[1:-1]
df["V43"] = co8m

In [38]:
co9 = df["V44"]
co9m = co9.str[1:-1]
df["V44"] = co9m

In [39]:
coa = df["V45"]
coam = coa.str[1:-1]
df["V45"] = coam

In [40]:
cob = df["V46"]
cobm = cob.str[1:-1]
df["V46"] = cobm

In [41]:
coc = df["V47"]
cocm = coc.str[1:-1]
df["V47"] = cocm

In [42]:
cod = df["V48"]
codm = cod.str[1:-1]
df["V48"] = codm

In [43]:
df["V49"].unique()

array([nan, "'PREDIO'", "'1 SUBSOLO'", "'FAZENDA GRANDE II'",
       "'2A TRAVESSA'", "'CAJAZEIRAS II'", "'CASA 2 CAS 3'", "'CASA'",
       "'SALA ABSJ'", "'SAO JULIAO'", "'BLOCO A'", "'QNM 27'",
       "'AREA ESPECIAL'", "'SETOR HOSPITALAR OES'", "'01'", "'PAVMTO 01'",
       "'ESTRADA DA LAGOA'", "'4 ANDAR'", "'LOT VICENTE BESSA'",
       "'CENTRO'", "'ZONA URBANA'", "'KM 5'", "'SANTA LUZIA'",
       "'CONJ D PEDRO II'", "'NUC09 QUADRA 316'", "'MATRIZ'",
       "'EST DO ALEIXO KM 14'", "'AO LADO DO CCA'", "'HOSPITAL'",
       "'CAIXA POSTAL 180'", "'1337'", "'23 06 2004'", "'1 ANDAR SALA 2'",
       "'CXPST 14'", "'PROX ESTACAO DE TREM'", "'CAIXA POSTAL 94'",
       "'A 270'", "'KM'", "'KM 92'", "'BLOCO'", "'KM 113'", "'KM04'",
       "'ED I II III IV'", "'KM 109'", "'CAIXA POSTAL 1038'", "'TERREO'",
       "'KM 63'", "'CAIXA POSTAL 6028'", "'PRQ BOA ESPERANCA'",
       "'CAIXA POSTAL 221'", "'CX POSTAL 186'", "'A'", "'S C'",
       "'BR 116 KM 656'", "'CONT MARINALVA ROGER'", "'CAIXA POSTAL 164'",
       "'1 ANDAR'", "'PAVILHAO'", "'PROPRIO'", "'1'", "'6 DISTRITO'",
       "'CAS'", "'GLORIA'", "'LARGO EDUARDO FARACO'", "'PAVLH HOSPITAL'",
       "'CAMPUS'", "'SUBSL PRIMEIRO E SEG'", "'PREDIO HSI'",
       "'CAIXA POSTAL 92'", "'PREDIO 60'", "'FUNDOS'",
       "'ILHA DO GOVERNADOR'", "'2 ANDAR'", "'FDS'", "'66 76 90 114'",
       "'TAQUARA'", "'CURICICA'", "'ANEXO IV 4 ANDAR'", "'QD L LT 11'",
       "'SANTO ALEIXO'", "'CIDADE UNIVERSITARIA'", "'KM 45'",
       "'BR 040 KM 109'", "'KILOMETRO'", "'ILHA DO FUNDAO'", "'PARTE'",
       "'CURITIBANOS'", "'CAIXA POSTAL 15'", "'LAT RUA JORGE CZERN'",
       "'CONDOMINIO ENEIDA'", "'QUADRA 44'", "'RUA DA LADEIRA'",
       "'QUADRA ESPECIAL'", "'EM FRENTE A PRACA'", "'KM12 BR316'",
       "'CIDADE'", "'RUA LAURO SODRE'", "'ANTIGA 5 RUA'",
       "'PROX A RODOVIARIA'", "'ASEVEC'", "'SUL'", "'ZONA SUL'",
       "'DIRCEU II'", "'SALA A'", "'ANANINDEUA'", "'SEDE'", "'QD 07'",
       "'QD A 10 LOTE 04'", "'CERES'", "'ESQ C RUA 01'", "'QD H16 LT 15'",
       "'QD 24 LT 48E'", "'QD 79 LT 10E'", "'QD R14 LT 4'",
       "'QD 51 LT 1 A 6'", "'QD 74 LT 7E'", "'QD S33 LT 27E'",
       "'QD 253 LT 12E'", "'QD 68 AREA 1'", "'QD 67 LT 12E'",
       "'ANTIGA AVENIDA Z'", "'ESQ COM AV L'", "'QD 72 LT 1E'",
       "'QD 169 LT 12 31'", "'QD R2B LT 20'", "'QD 01 LT 03'",
       "'QD 01 LT 01 AO 22'", "'SALA 03'", "'BR 232 KM 103'",
       "'VILA TORRES GALVAO'", "'NAO INFORMADO'", "'ESQUINA COM R1'",
       "'QUADRA 15'", "'OK'", "'C P 04'", "'CAIXA POSTAL N 89'", "'8'",
       "'INC'", "'PREDIO OK'", "'UNIDADE HOSPITALAR'", "'INTERNAMENTOS'",
       "'ANDAR 01'", "'MATERNIDADE'", "'UMSM'", "'Q 12'",
       "'QD 24 LTS 10 E 16'", "'QD 2 LT 14'", "'QD 81 LT 05'", "'QD 45'",
       "'QDA 08'", "'QD 01 LT 01'", "'QD 20'", "'Q177'",
       "'CENTRO DE SAUDE'", "'VIA PARAFUSO'", "'LOTE 10 E 12'",
       "'LOTE 11 QDA 37'", "'AO LADO DO PAM'", "'LOT NOVA VARZEA GDE'",
       "'SETOR NORTE'", "'N'", "'CX POSTAL 46'", "'PERTO DO PSF'",
       "'JARDIM GUANABARA'", "'KADIJA'", "'QUARTO'", "'KM 16'",
       "'PROXIMO'", "'EM FRENTE A'", "'EM FRENTE'", "'AO LADO FIGUEIRA'",
       "'CJ LIDIA SOUZA CRUZ'", "'SAIDA PARA O PECEM'", "'KM 01'",
       "'BR 122'", "'S N'", "'QD 06 LT 13'", "'QD 02 LT 02'",
       "'KM 190 AO LADO'", "'LOTES 02 A 05'", "'ESQ AV CAMPOS VERD'",
       "'QD 12 LT 516'", "'QD 43'", "'QUADA 12 LOTES 7 10'",
       "'QDA 15 LT 12 14'", "'ESQ COM L04 E L05'", "'SANTA CASA'",
       "'QD 01 LT 02'", "'QUADRA 109'", "'BR'", "'AV SANTOS DRUMONT'",
       "'FFRENTE DEPOL'", "'KM 02'", "'SN'", "'QUADRA 5 LOTE 5'", "'W'",
       "'E'", "'VM'", "'ETAPA 4'", "'ANTIGO CAMPO FUTEBOL'", "'LAGOA'",
       "'GRANDES AREAS'", "'EDIFICIO'", "'DISTRITO ITABATAN'",
       "'ITABATAN'", "'DISTRITO'", "'AREA'", "'ESQ C RUA 31'", "'PRACA'",
       "'E 2615'", "'ENTRADA SUPLEMENTAR'", "'QD10A LT02'",
       "'QD E LT 1214'", "'QD E 12 LT 15A'", "'QD 01 LT 37 185'",
       "'QD F13 LT 21 23'", "'QD 17A LT 3'", "'QD 221 LT 6E'",
       "'QD21 LT 05'", "'QD 21 LT 05'", "'QD 24 LT 1E'", "'QD44'",
       "'QD 4A LT 08E'", "'QD D4 LT 22'", "'QD 46 LT 05A'", "'QUADRA 2'",
       "'IGREJA CATOLICA'", "'5054'", "'BR 316'", "'540A'",
       "'ESTRADA DE CANDEIAS'", "'PREDIO DO HOSPITAL'",
       "'ENTRE A 31 E A 33'", "'ESQ COM RUA 15'", "'QD 2 LT 16'",
       "'QUADREA 03 LOTE 01'", "'QD B LT11'", "'QD 27 LT01'",
       "'QD 15 E 16'", "'CONJUNTO OK'", "'D'", "'SALAS'",
       "'LOTE DE 01 A 12'", "'N 200'", "'EDIF CENTRO'", "'E 520'",
       "'QD 05 AREA ESPECIAL'", "'QD 114 LT 04'", "'QDA 14 LOTE 9 A 13'",
       "'ESQ C R 8'", "'QD 02 LT 01'", "'ATRAS DA SMS'", "'HOSPITALAR'",
       "'CAIXA POSTAL 04'", "'ESQ ALFREDO CHAVES'", "'QD 26 LT01 A 03'",
       "'QUADRAAREA'", "'SAIDA SUL'", "'QUADRA 25 LT06 A 0'", "'INCL'",
       "'QUADRA 10'", "'ANEXO 01'", "'KM 06'", "'CLINICA'", "'QUADRA 19'",
       "'HOSP COSN C SAUDE'", "'LTS 179 181 QDRA 10'", "'QUADRA61'",
       "'ROD BR 316 KM 09'", "'PROX A DELEGACIA'", "'PROX RODOVIARIA'",
       "'LOTEAMENTO'", "'HOSPITAL PUBLICO'", "'QUADRA 08'",
       "'QD 6 A LT 14'", "'ANEXO AO CENTRO DE S'", "'OURICANGAS'",
       "'TERREO E 1 ANDAR'", "'QD 26'", "'QUADRA 16 LOTE 18'",
       "'01 E 17'", "'CONJUNTO'", "'CONJ NOVA ASSUNCAO'",
       "'PRACA DOS MARTIRES'", "'ESTRADA SEN CANEDO'",
       "'PQE DOS COQUEIROS'", "'NE'", "'PRESIDENTE VARGAS'", "'NENHUM'",
       "'JARDIM FESTUGATO'", "'CONJUNTO A'", "'QD AREA LT AREA'",
       "'PROX IGR SAO PEDRO'", "'PREDIO PROPRIO'", "'PRAIA'",
       "'PROXMARINO CONTI'", "'PLANALTO'", "'HOSPITAL MUNICIPAL'",
       "'PROXIMO A MAT CONST'", "'287'", "'KM2'", "'CONJUNTO 66'",
       "'ANEXO HOSPITAL'", "'ICOARACI'", "'PONTA DO BONFIM'", "'QD 39 A'",
       "'UNIDADE A 1'", "'UNIDADE A 2'", "'HOSP ITAL'", "'DOIS ANDARES'",
       "'ROD MS 379 KM 12'", "'QUADRA 04'", "'AVENIDA'",
       "'VILA SAO LOURENCO'", "'URBANO'", "'ESQ AV MOISES LUPI'",
       "'SOB ESQ P BECHAUSER'", "'SALA 02'", "'EDIFICIO SALA 08'",
       "'ESQ GERSON SOARES'", "'PROXIMO A COHAB'", "'ZONA RURAL'",
       "'QUADRA 36'", "'QUADRA 09'", "'000'", "'CAIXA POSTAL 44'",
       "'QDA 02 LTS 01 AO 19'", "'Q 401 SUL'", "'ANEXO B'", "'ANEXO'",
       "'QD 34 LT 01'", "'PROXIMO A PREFEITURA'", "'PRACA DA BIBLIA'",
       "'QD03 LT0104'", "'KM 1'", "'508 A 511 517 E 518'",
       "'QUADRA 31 LOTE01'", "'VILA MARACANA'", "'KM 225 226'",
       "'ZONA OESTE'", "'CAIXA POSTAL 11'", "'ESTABELECIMENTO'",
       "'LAGOA REDONDA'", "'BLOCOS'", "'LOTE F QUADRA 01'",
       "'PROXPREFEITURA'", "'PREDIO PUBLICO'", "'QUADRA'", "'SETOR 01'",
       "'KM 34'", "'LOTE C AREA ESP'", "'BLOCOS A B E C'", "'KM 396'",
       "'CONJ C SLS 01 A 08'", "'CONJ C SLS 01A08 10'", "'83'", "'KM 03'",
       "'302 PARTE'", "'FINAL R SIRACUSA'", "'61'", "'JARDIM HELENA'",
       "'322'", "'SALAS 501 510 E 601'", "'SALAS 501 502 503'",
       "'CEILANDIA SUL'", "'BBENTES I'", "'KM 332'", "'SETOR C NORTE'",
       "'VILA DA SERRA'", "'QD 40 LT 5 6'", "'435 467'",
       "'323 A L331 T106 108'", "'ANEXO 151'", "'96'", "'QD F23 LT 8 17'",
       "'BLOCO C'", "'BEIRA RIO'", "'SALAS 316 318'", "'2 ANDAR TAQUARA'",
       "'RUA DR CELESTINO 113'", "'1354 E 1368'", "'3 ANDAR'",
       "'Q 162 L 6 AND 3 E 4'", "'2011'", "'SALA 101 A 110'",
       "'CAIXA POSTAL 62'", "'SALA 4'", "'COLONIA VITORIA'", "'UFSC'",
       "'ANEXO HOSP CARIDADE'", "'QD 260 LT 01'", "'1 2 3 E 5 ANDAR'",
       "'88'", "'219 223'", "'CASSA'", "'QD 32 LT 0507'", "'14 ANDAR'",
       "'SALA B'", "'ESTRADA DO COCO'", "'SALA 306'", "'1926'",
       "'QD R2B LT 19'", "'ANDAR 5'", "'76 90 PARTE'", "'QD 122 LT 6'",
       "'QD 122 LT 08 09'", "'CONVENIOS'", "'PX DUQUE'",
       "'1 SUB 1 AO 5 ANDAR'", "'2 ETAPA'", "'2 PISO'",
       "'PAVILHAO ALA 1'", "'BLOCO B TERREO'", "'LARGO SAO SEBASTIAO'",
       "'RUA BOCAIUVA'", "'KM 01 S N'", "'151 E 151 A'",
       "'QD FO LT 16AE'", "'ATRAS DO CAMPO'", "'AO LADO DA UBS'",
       "'QD 29 LT 07 E 10'", "'QD 169 LT 12E'", "'SALA 701 702 801 802'",
       "'ESQ PIRES DE CAMPOS'", "'JUSTINOPOLIS'", "'PETROBRAS RLAM PORT'",
       "'QD 97 LT 19 20 21'", "'1 E 2 ANDAR'", "'ESQ 7 DE SETEMBRO'",
       "'HOSPITAL MILITAR'", "'QD 32 LT 15'", "'ESQ C AV FLAMINGO'",
       "'FRENTE LAB BIOTEC'", "'ESQ COM A RUA POSSE'", "'SEM NUMERO'",
       "'KM 42'", "'SALA 08'", "'QUADRA NI LOTE NI'", "'PROX A TEQUINHA'",
       "'PROXIMO AO POSTO CCM'", "'HMJFZ'", "'U B S'", "'INSTALACAO'",
       "'RUA'", "'EM FRENTE AO MERCADO'", "'JARDIM ATLANTICO'",
       "'Q 23 L 11'", "'A 232'", "'SLS 4 5 E 6 SUBSOLO'",
       "'ESQUINA RUA 5'", "'COMPLEXO TAICOCA'", "'570'",
       "'QD R 10 LT 07'", "'VILA FARAH'", "'HOSP BOM VIVER'",
       "'PQ NOSSA SENHORA LUZ'", "'328 329'", "'SEN LEMOS JERONIMO P'",
       "'602'", "'01D58'", "'SALA 1205'", "'SALA 05'",
       "'ESQ AV CURITIBA'", "'KM 04'", "'QUADRA 41'", "'QUADRA 30'",
       "'SALA 2107 E 2109'", "'ALTURA DO KM 07'", "'201 301 E 401'",
       "'SALA 01'", "'BLOCOS A B C D'", "'QD 02 LT 03'",
       "'BLOCO HOSPITALAR 1'", "'CAIXA POSTAL 89'", "'TRAVESSA 5'",
       "'PREDIO CENTRAL'", "'QD 11 A LT 20'", "'COMPLEXO HMA'",
       "'COND BUSCA VIDA'", "'QUADRA A20'", "'ANEXO AO HMSFA'",
       "'HOSPITAL UNIMED'", "'ANEXO HOSP STA ROSA'", "'SALA 24'",
       "'AMERICO BRASILIENSE'", "'E 1316'", "'LOTE 01 QUADRA 07'",
       "'EDIF HOSPITAL UNIME'", "'CIDADE NOVA III'", "'PRAIA DOS AMORES'",
       "'QD 08 LT 07'", "'QD 389'", "'SALA 101'",
       "'PAVMTOTERREO BLOCO A'", "'PORTO TROMBETAS'",
       "'QUADRA 25 LOTE 04 05'", "'QD 61 LT AREA'", "'QUADRA34'",
       "'QD 117 LT 12 13'", "'QD 05 LT 07 08'", "'QD 1 F LT 2 6'",
       "'ALA B'", "'TABOCA'", "'VILA TABOCA'", "'CONJ MANOEL C SOUZA'",
       "'ANEXO BLOCO C'", "'KM ONZE QUADRA E LOT'", "'LT 1745'",
       "'KM 28'", "'11 A 14 ANDAR'", "'ANDAR DE 16 A 3 SUBS'",
       "'SALA 110'", "'QD 100 LT 13 14 15'", "'ESQUINA MAR C RONDOM'",
       "'QD 9A LT 01 02'", "'ESQUINA RUA MUTUM'", "'LOTE 18 A 35 QD 36'",
       "'SALA 01 02 E 03'", "'BLOCO B 2 ANDAR'", "'ANDAR TERREO SALAS 3'",
       "'PAVILHAO CENTRAL'", "'ALA UTI'", "'PAVLH DIVISAO ADM'",
       "'TERREO SL ROSA M BA'", "'ANDAR 6 PARTE'", "'ED IOP'",
       "'QD 24 LT 04'", "'CHACARA'", "'CASA 31'", "'RUA CAP SALOMAO 27'",
       "'QD 1 CHAC 9'", "'QUADRAA000 LOTE 0001'",
       "'ANTIGO CAMPO DE POUS'", "'EDIF DO HOSPITAL OT'",
       "'LOTM SAO JUDAS TADEU'", "'QD 216 LT 15 18'",
       "'FUNDOS H SAO LUCAS'", "'QD H'", "'147 E 153'",
       "'LT PARQUE DAS DUNAS'", "'753A 767 777'", "'SL DE HEMODINAMICA'",
       "'FRENTE AV NEREU RAM'", "'CACHOEIRINHA CH 560'", "'SL 116'",
       "'SUBURBIO FERROVIARIO'", "'QD 7 L 41'", "'RUA DAS POPULARES'",
       "'QD 4 LT 20'", "'SANTA ROSA'", "'SAIDA PARA SANTA FE'",
       "'ESQUINA C AV BRASIL'", "'ANDAR 1'", "'LOTE'",
       "'PROX CANTEIRO PAAR'", "'KM 4'", "'SUBSL 2597'",
       "'QD 168 A LT 14 16'", "'QD F2 LT 35'", "'DOMICIANO RIBEIRO'",
       "'BLOCO B SALA 101'", "'CHACARA SOL NASCENTE'",
       "'ESQ C A ODORICO TOC'", "'PROX A EMATER'",
       "'ANDAR 2 SL 1 PVLH 2'", "'SALA 1'", "'COMP PENITENCIARIO'",
       "'LOJA OO C'", "'QD03 LT03 E 04'", "'WE 72'",
       "'ANTIGO 2 541 AREA 2'", "'CAIXA POSTAL 141'", "'RORAINOPOLIS'",
       "'E 732'", "'29 32 S C RAMOS 173'", "'ROD SC 407 KM 02'",
       "'CASA B'", "'FRENTE A PREFEITURA'", "'RIO BRANCO'",
       "'QD0A8 LT014'", "'KM 19 CHACARA VIDA'", "'ANDAR 2'",
       "'BL 1 2 3 E4'", "'BLOCO B'", "'ANDAR 1 2 3 SALAS'",
       "'QD 51 LT 5'", "'ESQUINA COM RUA NOVA'", "'QD 39 LT 7 8'",
       "'ANEXO A'", "'4 E 5 ANDA'", "'BLOCO 01'", "'ANDAR 3 ANDAR'",
       "'PARTE LOJA 17 B'", "'PROXIMO AO LAGO'", "'KM 11 5'",
       "'CHACARA AGUA SANTA'", "'PROXIMO AO IGUATEMI'",
       "'KM 01 ROD DF 415'", "'LOTE 28 PAL 2040 QD'",
       "'ANEXO AO HOSPITAL D'", "'QD 216 LT 6 E'",
       "'UNID AUTONOM 01 E 04'", "'90'", "'QD02'", "'SALA'",
       "'TERCEIRO ANDAR'", "'08 16 22 28 34'", "'KM 6 5'",
       "'TERREO FRENTE'", "'SALA D'", "'ANEXO I'", "'ESQ RUA FIGUEIREDO'",
       "'ALTOS SALA 01 E02'", "'KM 257 258'", "'PARTE DO 4 ANDAR'",
       "'QD 221 LT 6 E'", "'CONJ J RAIMUNDO POR'", "'PAVMTO02'",
       "'SALA 01 HEMODINAMICA'", "'LT 01 10 QD 62'", "'SALA 103'",
       "'QD 217 LT 09E'", "'QD F'", "'QUADRA08'", "'QD Y LOTE 03'",
       "'ATUAL CLINICA'", "'QD D LT 03'", "'LOTE 8'", "'ANTIGO 420'",
       "'QD G00 LT 09 A 13'", "'LETRA A'", "'LETRA H'", "'SITIO JATOBA'",
       "'SENTIDO OURO VERDE'", "'LOTE 06'", "'1037 LT 01 A 16'",
       "'LT 8 ANDAR 2 SAL 2'", "'DESCIDA DA EMBRAPA'", "'QD 08'",
       "'ANTIGA RADIAL A'", "'LT 2 CJ 2 SL 10'", "'QD 453 LT 01 05'",
       "'QDRA 44'", "'AV DO AEROPORTO'", "'BA415'", "'CJ 1 LT 8 A'",
       "'LT 9 SL 2'", "'ANEXO 03'", "'B'", "'LT 02'", "'KM 106'",
       "'SALA 03 E'", "'LOTE 1 PAL 10328'", "'ANEXO HOSP STA RITA'",
       "'SALA UTI'", "'QD 46 LT 05 A'", "'11 2662 2175'", "'KM 449'",
       "'SALA 202'", "'102'", "'CX POSTAL 132'", "'N A'",
       "'3 ANDAR CONSULT 4'", "'PISO S1'", "'CJ 2 LT 7 SL 1'",
       "'QD A LT 7'", "'ANEXO HOSPITAL JD CU'", "'LOTES 21 E 22'",
       "'KM 30'", "'COHAB'", "'QUADRA8'", "'1927'"], dtype=object)

In [44]:
coe = df["V49"]
coem = coe.apply(lambda x: x[1:-1] if isinstance(x, str) and x != 'null' else x)
# a funÃ§Ã£o 'isinstance' Ã© usada quando a gente vai conferir se um tal elemento x Ã© aquilo mesmo, nesse caso uma string
df["V49"] = coem

In [45]:
cof = df["V50"]
cofm = cof.str[1:-1]
df["V50"] = cofm

In [46]:
cog = df["V51"]
cogm = cog.str[1:-1]
df["V51"] = cogm

In [47]:
coh = df["V52"]
cohm = coh.str[1:-1]
df["V52"] = cohm

In [48]:
df["V53"].unique()

array([nan, "'ADM@HOSPITALSAOSEBASTIAO.COM.BR'",
       "'claudia.miranda@saude.pe.gov.br'", ...,
       "'hanossasenhora@hnosasenhora.com.br'",
       "'administrativo.campos@vilaverdejf.com.br'",
       "'processos@atsolucoes.com.br'"], dtype=object)

In [49]:
coi = df["V53"]
coim = coi.apply(lambda x: x[1:-1] if isinstance(x, str) and x != 'null' else x)
df["V53"] = coim

In [50]:
coj = df["V67"]
cojm = coj.str[:-2]
df["V67"] = cojm

In [51]:
df.head()

,V34,V35,V36,V37,V38,V39,V40,V41,V42,V43,...,V58,V59,V60,V61,V62,V63,V64,V65,V66,V67
0,201801,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,0000027,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,201802,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,0000027,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,201803,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,0000027,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,201804,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,0000027,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,201805,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,0000027,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82963 entries, 0 to 82962
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V34     82832 non-null  object
 1   V35     82832 non-null  object
 2   V36     82832 non-null  object
 3   V37     82832 non-null  object
 4   V38     0 non-null      float64
 5   V39     82832 non-null  object
 6   V40     82832 non-null  object
 7   V41     82832 non-null  object
 8   V42     82832 non-null  object
 9   V43     82832 non-null  object
 10  V44     82832 non-null  object
 11  V45     82832 non-null  object
 12  V46     82832 non-null  object
 13  V47     82832 non-null  object
 14  V48     82832 non-null  object
 15  V49     13658 non-null  object
 16  V50     82832 non-null  object
 17  V51     82832 non-null  object
 18  V52     76531 non-null  object
 19  V53     52640 non-null  object
 20  V54     82832 non-null  object
 21  V55     82832 non-null  object
 22  V56     82832 non-null  float64
 23  V57     82832 non-null  float64
 24  V58     82832 non-null  float64
 25  V59     82832 non-null  float64
 26  V60     82832 non-null  float64
 27  V61     82832 non-null  float64
 28  V62     82832 non-null  float64
 29  V63     82832 non-null  float64
 30  V64     82832 non-null  float64
 31  V65     82832 non-null  float64
 32  V66     82832 non-null  float64
 33  V67     82832 non-null  object
dtypes: float64(12), object(22)
memory usage: 21.5+ MB

In [53]:
df["V67"].unique()

array(['0', '8', '10', '2', '20', '14', '4', '', nan, '5', '3', '1', '6',
       '13', '18'], dtype=object)

In [54]:
df["V34"].unique()

array(['201801', '201802', '201803', '201804', '201805', '201806',
       '201807', '201808', '201809', '201810', '201811', '201812', nan],
      dtype=object)

In [55]:
coluna = df['V34']
df['V34'] = coluna.astype(float)

In [56]:
coluna = df['V43']
df['V43'] = coluna.astype(float)

In [57]:
coluna = df['V45']
df['V45'] = coluna.astype(float)

In [58]:
coluna = df['V51']
df['V51'] = coluna.astype(float)

In [59]:
df["V54"].unique()

array(['64', '38', '32', '59', '37', '413', '416', '407', '482', '620',
       '1075', '425', '12', '200', '193', '243', '239', '830', '44', '61',
       '88', '50', '744', '2', '164', '119', '235', '101', '283', '370',
       '15', '128', '142', '123', '58', '185', '140', '5', '139', '234',
       '100', '352', '356', '326', '263', '477', '78', '700', '730',
       '737', '247', '159', '209', '213', '116', '153', '165', '57', '94',
       '93', '415', '314', '178', '412', '240', '9', '79', '36', '74',
       '84', '55', '91', '120', '30', '54', '11', '134', '146', '149',
       '45', '199', '173', '174', '212', '17', '66', '18', '1', '87',
       '83', '362', '229', '230', '625', '628', '613', '624', '115', '62',
       '27', '662', '702', '319', '351', '357', '359', '389', '421',
       '430', '449', '443', '277', '249', '258', '255', '253', '147',
       '144', '327', '323', '124', '242', '98', '86', '237', '151', '273',
       '267', '69', '99', '210', '155', '3', '445', '156', '918', '957',
       '1053', '20', '48', '148', '92', '28', '16', '568', '217', '224',
       '222', '232', '206', '42', '369', '22', '150', '6', '60', '114',
       '34', '434', '270', '52', '89', '130', '160', '400', '96', '97',
       '105', '198', '76', '31', '187', '127', '68', '121', '29', '275',
       '162', '167', '166', '320', '391', '577', '487', '157', '106',
       '108', '104', '971', '337', '504', '82', '33', '8', '23', '49',
       '340', '14', '181', '113', '25', '41', '103', '65', '13', '40',
       '118', '135', '343', '422', '442', '251', '39', '102', '132', '43',
       '354', '77', '112', '312', '225', '287', '310', '281', '24', '311',
       '145', '35', '80', '223', '81', '26', '21', '19', '70', '10', '53',
       '90', '47', '131', '138', '179', '171', '180', '182', '175', '95',
       '227', '244', '73', '56', '111', '72', '126', '197', '205', '306',
       '657', '670', '664', '67', '298', '125', '886', '172', '117',
       '110', '107', '280', '170', '158', '508', '451', '163', '262',
       '914', '910', '136', '219', '176', '177', '186', '726', '812',
       '318', '360', '355', '396', '190', '305', '248', '260', '161',
       '1543', '129', '143', '133', '75', '154', '152', '403', '406',
       '228', '335', '338', '63', '71', '469', '349', '191', '233', '46',
       '615', '317', '85', '51', '215', '300', '299', '392', '395', '202',
       '1079', '292', '204', '220', '322', '315', '334', '333', '307',
       '183', '196', '201', '257', '216', '221', '397', '296', '819',
       '823', '827', '848', '254', '610', '192', '189', '218', '169',
       '304', '345', '331', '141', '4', '308', '122', '272', '279', '817',
       '274', '265', '168', '207', '188', '184', '246', '231', '137',
       'com', nan, '293', '516', '538', '507', '506', '387', '290', '461',
       '488', '455', '7', "br'", '109', '521', '344', '278', '533', '543',
       '544', '302', '385', '297', '295', '288', '286', '226', '195',
       '203', '411', '1074', '1077', '1070', '1065', '1066', '1080',
       '1081', '1321', '988', '866', '860', '347', '447', '374', '631',
       '245', '276', '328', '194', '580', '593', '571', '303', '428',
       '440', '250', '332', '214', '208', '264', '256', '456', '376',
       '540', '536', '236', '241', '404', '289', "com'", '313', '371',
       '238', '653', '271', "com.br'", '259', " com.br'", '432', '542',
       '550', '586', '321', '380', '520', '282', '353', '366', '329',
       '285', '266', '261', '339', '381', '377', '457', '324', '1210',
       '1198', '378', "supertec@hospitaldabaleia.org.br'", '591', '464',
       '500', '472', '211', '460', "to.gov.br'", '363', '294', '450',
       '603', '535', '954', '444', '567', '480', '291', '438', '468',
       '301', '552', '601', '473', '368', '373',
       " nucleoinsbot@oi.com.br'", '365', '470', 16, 21, 53, 29, 25, 73,
       14, 28, 174, 60, 75, 40, 113, 46, 18, 11, 9, 12, 1, 61, 71, 2, 30,
       45, 10, 66, 44, 8, 56, 143, 144, 23, 140, 160, 101, 184, 5, 3, 82,
       69, 33, 78, 6, 100, 120, 130, 210, 4, 129, 58, 65, 104, 114, 115,
       116, 88, 142, 35, 112, 52, 240, 162, 36, 38, 126, 42, 20, 13, 70,
       39, 15, 50, 55, 546, 7, 27, 93, 49, 89, 80, 64, 85, 19, 22, 48,
       121, 24, 81, 176, 79, 110], dtype=object)

In [60]:
df["V54"] =df["V54"].replace(" com.br'", None)

In [61]:
df["V54"] =df["V54"].replace("com", None)

In [62]:
df["V54"] =df["V54"].replace("supertec@hospitaldabaleia.org.br'", None)

In [63]:
df["V54"] =df["V54"].replace(" nucleoinsbot@oi.com.br'", None)

In [64]:
df["V54"] =df["V54"].replace("to.gov.br'", None)

In [65]:
df["V54"] =df["V54"].replace("br'", None)

In [66]:
df["V54"] =df["V54"].replace("com'", None)

In [67]:
coluna = df['V54']
df['V54'] = coluna.astype(float)

ValueError: could not convert string to float: "com.br'"

In [68]:
df["V55"] =df["V55"].replace("br'", None)

In [69]:
df["V55"] =df["V55"].replace("br'", None)

In [70]:
coluna = df['V55']
df['V55'] = coluna.astype(float)

In [71]:
df["V67"] =df["V67"].replace("", None)

In [72]:
coluna = df['V67']
df['V67'] = coluna.astype(float)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82963 entries, 0 to 82962
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V34     82832 non-null  float64
 1   V35     82832 non-null  object
 2   V36     82832 non-null  object
 3   V37     82832 non-null  object
 4   V38     0 non-null      float64
 5   V39     82832 non-null  object
 6   V40     82832 non-null  object
 7   V41     82832 non-null  object
 8   V42     82832 non-null  object
 9   V43     82832 non-null  float64
 10  V44     82832 non-null  object
 11  V45     82832 non-null  float64
 12  V46     82832 non-null  object
 13  V47     82832 non-null  object
 14  V48     82832 non-null  object
 15  V49     13658 non-null  object
 16  V50     82832 non-null  object
 17  V51     82832 non-null  float64
 18  V52     76531 non-null  object
 19  V53     52640 non-null  object
 20  V54     82736 non-null  object
 21  V55     82820 non-null  float64
 22  V56     82832 non-null  float64
 23  V57     82832 non-null  float64
 24  V58     82832 non-null  float64
 25  V59     82832 non-null  float64
 26  V60     82832 non-null  float64
 27  V61     82832 non-null  float64
 28  V62     82832 non-null  float64
 29  V63     82832 non-null  float64
 30  V64     82832 non-null  float64
 31  V65     82832 non-null  float64
 32  V66     82832 non-null  float64
 33  V67     82701 non-null  float64
dtypes: float64(18), object(16)
memory usage: 21.5+ MB

In [74]:
new_names = ['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS']
df.columns = new_names

In [75]:
df.to_csv('dados_atualizados.csv', index=False)

##### ajeitando os dados de 2023

In [76]:
dt = pd.read_csv("OLeitos_2023.csv", header=None, skiprows=1, encoding='ISO-8859-1')

In [77]:
dt.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,27,CASA DE SAUDE SANTA HELENA,CASA DE SAUDE E MATERNIDADE SANTA HELENA LTDA,M,5,...,0,0,0,0,0,0,0,0,0,0
1,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,35,HOSPITAL MENDO SAMPAIO,PREFEITURA MUNICIPAL DO CABO DE SANTO AGOSTINHO,M,5,...,0,0,0,0,0,0,0,0,0,0
2,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,94,MATERNIDADE PADRE GERALDO LEITE BASTOS,PREFEITURA MUNICIPAL DO CABO DE SANTO AGOSTINHO,M,7,...,0,0,0,0,0,0,0,0,0,0
3,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,183,HOSPITAL SAMARITANO,SOCIEDADE HOSPITALAR SAMARITANO LTDA,M,5,...,5,0,0,0,0,0,0,0,0,0
4,202301,NORDESTE,PE,CABO DE SANTO AGOSTINHO,NaN,221,HOSPITAL SAO SEBASTIAO,CASA DE SAUDE E MATERNIDADE SAO SEBASTIAO LTDA,M,5,...,10,0,0,0,0,0,0,0,0,0

In [78]:
dt.columns = ['COMP', 'REGIAO', 'UF', 'MUNICIPIO', 'MOTIVO DESABILITACAO', 'CNES',
       'NOME ESTABELECIMENTO', 'RAZAO SOCIAL', 'TP_GESTAO', 'CO_TIPO_UNIDADE',
       'DS_TIPO_UNIDADE', 'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA',
       'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
       'NU_TELEFONE', 'NO_EMAIL', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI ADULTO - EXIST',
       'UTI ADULTO - SUS', 'UTI PEDIATRICO - EXIST', 'UTI PEDIATRICO - SUS',
       'UTI NEONATAL - EXIST', 'UTI NEONATAL - SUS', 'UTI QUEIMADO - EXIST',
       'UTI QUEIMADO - SUS', 'UTI CORONARIANA - EXIST',
       'UTI CORONARIANA - SUS']

In [79]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42245 entries, 0 to 42244
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COMP                     42245 non-null  int64
 1   REGIAO                   42245 non-null  object
 2   UF                       42245 non-null  object
 3   MUNICIPIO                42245 non-null  object
 4   MOTIVO DESABILITACAO     0 non-null      float64
 5   CNES                     42245 non-null  int64
 6   NOME ESTABELECIMENTO     42245 non-null  object
 7   RAZAO SOCIAL             42245 non-null  object
 8   TP_GESTAO                42245 non-null  object
 9   CO_TIPO_UNIDADE          42245 non-null  int64
 10  DS_TIPO_UNIDADE          42245 non-null  object
 11  NATUREZA_JURIDICA        42245 non-null  int64
 12  DESC_NATUREZA_JURIDICA   42245 non-null  object
 13  NO_LOGRADOURO            42245 non-null  object
 14  NU_ENDERECO              42245 non-null  object
 15  NO_COMPLEMENTO           7805 non-null   object
 16  NO_BAIRRO                42245 non-null  object
 17  CO_CEP                   42245 non-null  int64
 18  NU_TELEFONE              37528 non-null  object
 19  NO_EMAIL                 27842 non-null  object
 20  LEITOS EXISTENTE         42245 non-null  int64
 21  LEITOS SUS               42245 non-null  int64
 22  UTI TOTAL - EXIST        42245 non-null  int64
 23  UTI TOTAL - SUS          42245 non-null  int64
 24  UTI ADULTO - EXIST       42245 non-null  int64
 25  UTI ADULTO - SUS         42245 non-null  int64
 26  UTI PEDIATRICO - EXIST   42245 non-null  int64
 27  UTI PEDIATRICO - SUS     42245 non-null  int64
 28  UTI NEONATAL - EXIST     42245 non-null  int64
 29  UTI NEONATAL - SUS       42245 non-null  int64
 30  UTI QUEIMADO - EXIST     42245 non-null  int64
 31  UTI QUEIMADO - SUS       42245 non-null  int64
 32  UTI CORONARIANA - EXIST  42245 non-null  int64
 33  UTI CORONARIANA - SUS    42245 non-null  int64
dtypes: float64(1), int64(19), object(14)
memory usage: 11.0+ MB

In [80]:
dt.to_csv('dados_atualizados.csv', index=False)